{include file='public/head'}
<body>
	<style type="text/css" media="screen">
		header {
			color: black;
		}
	</style>
	<div class="x-body">
		<div class="layui-form">
			<div class="layui-form-item">
				<label class="layui-form-label">标&nbsp;&nbsp;&nbsp;题</label>
				<div class="layui-input-block">
					<input type="text" id="title" name="title" lay-verify="required|title" autocomplete="off"
						placeholder="请输入日志标题" class="layui-input">
				</div>
			</div>
			<div class="layui-form-item" id="region">
				<label class="layui-form-label">进度</label>
				<div class="layui-input-inline">
					<select name="speed" lay-filter="speed" id="speed" lay-verify="required">
						<option value="">请选择</option>
						{volist name='speed' id='vo'}
						<option value="{$vo.id}">{$vo.name}</option>
						{/volist}
					</select>
				</div>
			</div>
			<div class="layui-form-item">
                <label class="layui-form-label">内容</label>
                <div class="layui-input-block">
                    <textarea class="layui-textarea" placeholder="请输入内容" id="content" name="content"
                        style="width: 100%;height: 400px;" lay-verify="required|content"></textarea>
                </div>
			</div>
			<div class="layui-form-item">
				<div class="layui-input-block">
					<button class="layui-btn" lay-submit lay-filter="toSubmit">提交</button>
					<button id="reset" type="reset" class="layui-btn layui-btn-primary">重置</button>
				</div>
			</div>
		</div>
	</div>
</body>
{include file='public/foot'}
<script type="text/javascript" src="__static__/kindeditor/kindeditor-all.js"></script>
<script type="text/javascript" src="__static__/kindeditor/lang/zh-CN.js"></script>
<script type="text/javascript"> 
var id = {$id};
KindEditor.ready(function (K) {
	notice = K.create('#content', {
		uploadJson: '/api/file/upload?type=article',
		afterBlur: function(){
			this.sync();
		}
	});
});
layui.use(['form','layer'], function(){
  	var form = layui.form;
  	var layer = layui.layer;
  	form.verify({
		/* name: function (value) {
			if (value.length < 5) {
				return '用户名至少得5个字符啊';
			}
		} */
	});
	/**
	 * 监听表单提交
	*/
	form.on('submit(toSubmit)',function(data){
		var params = {
				title: data.field.title,
				speed_id: data.field.speed,
				content: data.field.content,
				building_id:id,

			};
			// console.log(params);return false;
		$.post('/admin/building/logAdd', params, function(data){
            var res = data.data;
            if(data.code == 200){
				layer.msg('添加成功',{
					icon:1,
					time:1000
				},function(){
					x_admin_close();
					parent.location.reload();
				});
            }else{
                layer.msg(data.msg);
            }
		},'json');
		return false;
	});
});
</script>
</html>