{include file='public/head'}
<body>
    <style media="screen" type="text/css">
        header {
            color: black;
        }
        .select{
            width: 120px !important;
        }
        .layui-upload-img {
            width: auto;
            height: 60px;
            margin-left: 20px;
        }
    </style>
    <div class="x-body">
        <form action="" class="layui-form" id="mainForm" method="post" style="margin-right: 20px;">
            <div class="layui-form-item">
                <label class="layui-form-label">商品名称</label>
                <div class="layui-input-block">
                    <input autocomplete="off" class="layui-input" lay-verify="required" name="name" value="{$goods_info['name']}" placeholder="请输入商品名称" type="text" />
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">关键词</label>
                <div class="layui-input-block">
                    <input autocomplete="off" class="layui-input" lay-verify="required" name="keywords" value="{$goods_info['keywords']}" placeholder="请输入商品关键词" type="text" />
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">副标题</label>
                <div class="layui-input-block">
                    <input autocomplete="off" class="layui-input" lay-verify="required" name="title" value="{$goods_info['title']}" placeholder="请输入商品副标题" type="text" />
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">所属分类</label>
                {foreach $cate as $key=>$vo}
                <div class="layui-input-inline select select{$key+1}">
                    <select lay-filter="cate" name="cate_id[]" data-id="{$key+1}">
                        <option value="">请选择</option>
                        {foreach $vo as $k=>$v}
                            <option value="{$v['id']}" {if condition="$v['id'] == $cate_id[$key]"}selected{/if}>{$v['title']}</option>
                         {/foreach}
                    </select>
                </div>
                {/foreach}
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">商铺分类</label>
                <div class="layui-input-inline">
                    <select name="self_cate_id"  lay-verify="required">
                        <option value="">请选择</option>
                        {volist name='self_cate' id='vo'}
                            <option value="{$vo.id}" {if condition="$vo['id'] == $goods_info['self_cate_id']"}selected{/if}>{$vo.cate_name}</option>
                         {/volist}
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">所属风格</label>
                <div class="layui-input-block">
                    <input type="checkbox" name="style[1]" value="1" title="中式" lay-skin="primary"  <?php if(in_array(1,$goods_info['style'])){echo 'checked';} ?>>
                    <input type="checkbox" name="style[2]" value="2" title="欧式" lay-skin="primary" <?php if(in_array(2,$goods_info['style'])){echo 'checked';} ?>>
                    <input type="checkbox" name="style[3]" value="3" title="现代" lay-skin="primary" <?php if(in_array(3,$goods_info['style'])){echo 'checked';} ?>>
                    <input type="checkbox" name="style[4]" value="4" title="田园" lay-skin="primary" <?php if(in_array(4,$goods_info['style'])){echo 'checked';} ?>>
                    <input type="checkbox" name="style[5]" value="5" title="地中海" lay-skin="primary" <?php if(in_array(5,$goods_info['style'])){echo 'checked';} ?>>
                    <input type="checkbox" name="style[6]" value="6" title="东南亚" lay-skin="primary" <?php if(in_array(6,$goods_info['style'])){echo 'checked';} ?>>
                    <input type="checkbox" name="style[7]" value="7" title="混搭" lay-skin="primary" <?php if(in_array(7,$goods_info['style'])){echo 'checked';} ?>>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">所属品牌</label>
                <div class="layui-input-block">
                    <select lay-filter="brands" name="brand_id" id="brands_id">
                        <option value="">请选择</option>
                        {foreach $brands as $key=>$vo}
                        <option value="{$vo['id']}" {if condition="$vo['id'] == $goods_info['brand_id']"}selected{/if}>{$vo['name']}</option>
                        {/foreach}
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">商品主图(430px*430px)</label>
                <div class="layui-input-block" style="display: flex;">
                    <button type="button" class="layui-btn upload-img">
                        <i class="layui-icon">&#xe67c;</i>选择图片</i>
                    </button>
                    <img class="layui-upload-img" id="thumb" src="{if $goods_info['thumb']}__public__{$goods_info['thumb']}{/if}" />
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">单位名称</label>
                <div class="layui-input-block">
                    <input autocomplete="off" class="layui-input" lay-verify="required" name="unit" value="{$goods_info['unit']}" placeholder="请输入商品单位名称(m,㎡,ml...)" type="text"  />
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">上传视频</label>
                    <button type="button" class="layui-btn cover" id="control_video_button">上传视频</button>
                    <button type="button" class="layui-btn layui-btn-danger cover" id="control_video_del" onclick="deleteVideo()" {if $goods_info['video'] == ''}style="display: none"{/if}>删除视频</button>
                    <input type="hidden" id="control_video" value="{$goods_info['video']}" name="video"/>
            </div>
            <div class="layui-form-item" id="player" {if $goods_info['video'] == ''}style="display: none;"{/if}>
                <label class="layui-form-label"></label>
                <div class="layui-input-block">
                    <video controls="controls" id="control_video_demo" src="{$goods_info['video']}" style="width: 50%;">
                    </video>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">商品介绍</label>
                <div class="layui-input-block">
                    <textarea class="layui-textarea" placeholder="请输入商品介绍" id="notice" name="content"
                        style="width: 100%;height: 400px;">{$goods_info['content']}</textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">排序</label>
                <div class="layui-input-block">
                    <input autocomplete="off" class="layui-input" lay-verify="required" name="sort" placeholder="数值越小越靠前" type="number" value="{$goods_info['sort']}"/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">是否上架</label>
                <div class="layui-input-block">
                    <input type="checkbox" name="online" lay-skin="switch" lay-text="是|否" value="1" {if condition="$goods_info['online'] == 1"}checked{/if} />
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">状态</label>
                <div class="layui-input-block">
                  <input type="checkbox" name="checked" lay-skin="switch" lay-text="正常|待审" value="1" {if condition="$goods_info['checked'] == 1"}checked{/if}>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">推&nbsp;&nbsp;&nbsp;荐</label>
                <div class="layui-input-block">
                  <input type="checkbox" name="hot" lay-skin="switch" lay-text="是|否" value="1" {if condition="$goods_info['hot'] == 1"}checked{/if}>
                </div>
            </div>
            <input type="hidden" name="id" value="{$goods_info['id']}" />
            <input type="hidden" name="thumb" value="{$goods_info['thumb']}" />
            <input type="hidden" name="cate" value="{$goods_info['cate']}" />
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn"  lay-filter="toSubmit" lay-submit=""  style="margin-left: 33%">
                        提交
                    </button>
                    <button style="display: none;" class="layui-btn layui-btn-primary" id="reset" type="reset">
                        重置
                    </button>
                </div>
            </div>

        </form>
    </div>
</body>
{include file='public/foot'}
<script type="text/javascript" src="__static__/kindeditor/kindeditor-all.js"></script>
<script type="text/javascript" src="__static__/kindeditor/lang/zh-CN.js"></script>
<script type="text/javascript">
    var cate_id = '';
    var form = {};
    KindEditor.ready(function (K) {
        notice = K.create('#notice', {
            uploadJson: '/api/file/upload?type=goods',
            urlType:'domain',
            afterBlur: function(){
                this.sync();
            }
        });
    });
	layui.use(['form', 'layer', 'upload'], function () {
        form = layui.form;
        var layer = layui.layer,upload = layui.upload;
        /**
        * 图片上传
        */
        var uploadInst = upload.render({
            elem: '.upload-img',
            url: '/api/file/upload?type=thumb',
            accept: 'file', // 允许上传的文件类型
            field: 'imgFile',
            auto: false, // 自动上传
            choose: function (obj) {
                obj.preview(function (index, file, result) {
                    var flag = true;
                    /* var img = new Image();
                    img.src = result; 
                    img.onload = function () { //初始化夹在完成后获取上传图片宽高，判断限制上传图片的大小。
                        if(img.width == 430 && img.height == 430){
                            obj.upload(index, file); //满足条件调用上传方法
                        }else{
                            flag = false;
                            layer.msg("您上传的小图大小必须是430*430尺寸！");
                            return false;
                        }
                    } */
                    return flag;
                });
            },
            before: function (obj) {
                obj.preview(function (index, file, result) {
                    $('#thumb').attr('src', result); //图片链接 base64
                });
            },
            done: function (res) {
                layer.msg(res.msg);
                if (res.error == 0) {
                    $("input[name='thumb']").val(res.url);
                    $('#thumb').show();
                }
            },
            error: function (index, upload) {
                // 上传失败
            }
        });
        /**
         * 视频上传 
         */
        var uploadVideo = upload.render({
            elem: '#control_video_button', //绑定元素
            url: "/api/file/upload?type=video",//上传接口
            accept: 'video',
            field: 'imgFile',
            before: function(obj){
                //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result){
                    //$('#control_video_demo').attr('src', result); //图片链接（base64）
                    //$('#control_video_demo').css('display','block');
                    $('#control_video_del').css('display','inline');
                });
            },
            done: function(res){
                layer.msg(res.msg);
                if(res.error == 0){
                    $('#player').show();
                    $('#control_video_demo').attr('src','http://longjizhai.harus.icu'+res.url).show();
                    //$('#video_source');
                    $("#control_video").val(res.url);
                }else{
                    return layer.msg('上传失败');
                }
            },
            error: function(res){
                console.log(res);
            }
        });
        /**
        * 监听分类选择
        */
        form.on('select(cate)',function(data){
            var id = $(data.elem).data('id');
            if (data.value == 0 || data.value == '') {
                var select = $('div').find('.select');
                select.each(function(i,v){
                    if(i+1 > id){
                        $(v).remove();
                    }
                });
                return false;
            }
            cate_id = data.value;
            $('input[name="cate"]').val(cate_id);
            getBrands(data.value);
            $.post('/api/goods_cate/index', {
                pid: data.value,
                type: 2,
            }, function (data) {
                var res = data.data;
                if (data.code == 200) {
                    if (res.length > 0) {
                        var ids = parseInt(id) + 1;
                        var html_t = '<div class="layui-input-inline select select'+ids+'">'+
                                        '<select lay-filter="cate" name="cate_id[]" data-id="'+ids+'">';
                        var option = '<option value="">请选择</option>';
                        res.forEach(function (v, i) {
                            option += '<option value="' + v.id + '">' + v.title + '</option>';
                        });
                        var html = html_t + option + '</select></div>';
                        var select = $('div').find('.select');
                        select.each(function(i,v){
                            if(i+1 > id){
                                $(v).remove();
                            }
                        });
                        $('.select' + id).after(html);
                        form.render('select');
                    }
                }
            }, 'json');
        }); 
    }); 
    /**
     * 获取当前分类绑定的品牌数据
    */
    function getBrands(cate_id){
        if(cate_id){
            $.post('/api/goods_cate/getBrands', {
            cate_id: cate_id,
        }, function (data) {
            var option = '<option value="0">请选择</option>';
            var res = data.data;
            if (data.code == 200) {
                if (res.length > 0) {
                    res.forEach(function (v, i) {
                        option += '<option value="' + v.id + '">' + v.name + '</option>';
                    });
                    
                }
            }
            $('#brands_id').html(option);
            form.render('select');
        }, 'json');
        }
    }
    /**
     * 删除视频
     */
    function deleteVideo(){
        $('#player').hide();
        $('#control_video_demo').attr('src','').hide();
        //$('#video_source');
        $("#control_video").val('');
        $('#control_video_del').hide();
    }
	$(document).ready(function(){ 
	     var options = {
		      type:'post',           //post提交
		      dataType:"json",        //json格式
		      data:{},    //如果需要提交附加参数，视情况添加
		      clearForm: false,        //成功提交后，清除所有表单元素的值
		      resetForm: false,        //成功提交后，重置所有表单元素的值
		      cache:false,          
		      async:false,          //同步返回
		      success:function(data){
    		      	if(data.code==0){
    		      		layer.msg(data.msg);
    		      	}else{
    		      		layer.msg(data.msg,{icon:1,time:1000},function(){
    		      			$("#reset").click();
    		      			x_admin_close();
    		      			parent.location.reload();
    		      		});
    		      	}
    		      //服务器端返回处理逻辑
		      	},
		      	error:function(XmlHttpRequest,textStatus,errorThrown){
		        	layer.msg('操作失败:服务器处理失败');
		      }
		    }; 
	    // bind form using 'ajaxForm' 
	    $('#mainForm').ajaxForm(options).submit(function(data){
	    	//无逻辑
	    }); 

	});
</script>
</html>
