{include file="public/head"}
<style>
    .avatar{
        display: flex;
        align-items: center;
    }
    .logo-img{
        width: 60px;
        height: 30px;
        border: 1px solid #ccc;
    }
    .logo-img img{
        width: 100%;
        height: 100%;
    }
</style>
<body>
    <div class="x-body">
        <table id="demo" lay-filter="test"></table>
        <script type="text/html" id="toolbarDemo">
            <div class="layui-btn-container">
                {if $role_id <= '144'}
                <button class="layui-btn  layui-btn-sm layui-btn-danger" lay-event="getCheckData">
                    <i class="layui-icon layui-icon-delete"></i>批量删除
                </button>
                {/if}
                <button class="layui-btn layui-btn-sm" onclick="x_admin_show('添加商品','goodsAdd.html?shop_id={$shop_id}&cate_id={$cate_id}',820,500)">
                    <i class="layui-icon layui-icon-add-circle-fine"></i>添加商品
                </button>
                <button class="layui-btn layui-btn-sm" onclick="javascript:location.reload()">
                    <i class="layui-icon layui-icon-refresh"></i>刷新
                </button>
                <button class="layui-btn layui-btn-sm" onclick="x_admin_show('搜索商品','searchGoods.html?cate_id={$cate_id}',900,360)">
                    <i class="layui-icon layui-icon-search"></i>搜索
                </button>
            </div>
        </script>
    </div>
</body>
{include file="public/foot"}
<script>
    var tableIns,shop_id = {$shop_id};
    layui.use(['laydate', 'form', 'table'], function () {
        var table = layui.table, laydate = layui.laydate, form = layui.form;
        /**
         * 请求数据
        */
        tableIns = table.render({
            elem: '#demo'
            , toolbar: '#toolbarDemo'
            , defaultToolbar: []
            , url: '/admin/shop_goods/goodsLis?shop_id='+shop_id //数据接口
            , page: true //开启分页
            , limit: 10
            , id: 'test'
            , cols: [
                [ //表头
                    { type: 'checkbox',fixed: 'left',width:'5%' }
                    , { field: 'id', title: 'ID', width: '5%', fixed: 'left',templet:function(d){return d.LAY_INDEX;}}
                    , { field: 'name', title: '商品名称', width: '10%'}
                    , { field: 'title', title: '副标题', width: '10%'}
                    , { field: 'thumb', title: '商品主图', width: '10%',
                        templet:function(d){
                            if(d.thumb){
                                var img = '<img src="__public__'+d.thumb+'" class="logo-img" />';
                            }else{
                                var img = '暂无图片';
                            }
                            return img;
                        }
                    }
                    , { field: 'cate_title', title: '所属分类', width: '25%'}
                    , { field: 'brand_name', title: '所属品牌', width: '15%'}
                    , {
                        field: 'handle', title: '操作',width: '20%',
                        templet: function (d) {
                            var handle = '<button type="button" class="layui-btn layui-btn-warm layui-btn-xs" onclick="x_admin_show(\'商品相册\',\'/admin/shop_goods_img/goodsImg?id=' + d.id + '\',900,500);">相册</button>'+'<button type="button" class="layui-btn layui-btn-normal layui-btn-xs" onclick="x_admin_show(\'商品属性\',\'/admin/shop_goods_attr/goodsAttr?id=' + d.id + '\',900,500);">属性</button>'+'<button type="button" class="layui-btn layui-btn-xs" onclick="x_admin_show(\'编辑商品\',\'/admin/shop_goods/goodsEdit?id=' + d.id + '\',900,480);">编辑</button>'+'<button type="button" class="layui-btn layui-btn-danger layui-btn-xs" onclick="delUser(' + d.id + ');">删除</button>';
                            return handle;
                        }
                    }
                ]
            ]
        });
        /**
         * 监听批量删除 
        */
        table.on('toolbar(test)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id);
            var ids = [];
            switch (obj.event) {
                case 'getCheckData':
                    var data = checkStatus.data;
                    data.forEach(function (v, i) {
                        ids.push(v.id);
                    });
                    delAll(ids);
                    break;
            };
        });
    });
    /**
     * 批量删除
    */
    function delAll(argument) {
        if (argument == '') {
            layer.msg('没有选中的数据', { icon: 5 });
        } else {
            argument = argument.toString();
            layer.confirm('确认要全部删除吗？', function (index) {
                $.post('/admin/shop_goods/deleteGoods', { id: argument }, function (j) {
                    if (j.code == 200) {
                        layer.msg('删除成功', { icon: 1, time: 1000 }, function () {
                            location.reload();
                        });
                    } else {
                        layer.msg('删除失败', { icon: 5, time: 1000 });
                    }
                }, 'json');
            });
        }
    }
    /**
     * 单个删除
    */
    function delGoods(id) {
        layer.confirm('确认要删除吗？', function (index) {
            $.post('/admin/shop_goods/deleteGoods', { id: id }, function (j) {
                if (j.code == 200) {
                    layer.msg('删除成功', { icon: 1, time: 1000 }, function () {
                        location.reload();
                    });
                } else {
                    layer.msg('删除失败', { icon: 5, time: 1000 });
                }
            }, 'json');
        });
    }
</script>

</html>