{include file="public/head"}

<body>
    <div class="x-body">
        <table id="demo" lay-filter="test"></table>
        <script type="text/html" id="toolbarDemo">
            <div class="layui-btn-container">
                <!-- <button class="layui-btn layui-btn-sm" lay-event="getCheckData">获取选中行数据</button>
                <button class="layui-btn layui-btn-sm" lay-event="getCheckLength">获取选中数目</button>
                <button class="layui-btn layui-btn-sm" lay-event="isAll">验证是否全选</button> -->
                
                <!-- <button class="layui-btn layui-btn-sm" onclick="javascript:location.reload()">
                    <i class="layui-icon layui-icon-refresh"></i>刷新
                </button>
                <button class="layui-btn layui-btn-sm" onclick="x_admin_show('搜索分站','search.html',800,480)">
                    <i class="layui-icon layui-icon-search"></i>搜索
                </button> -->
            </div>
        </script>
        <input type="hidden" value="{{$region_id}}" id="region_id">
    </div>
</body>
{include file="public/foot"}
<script>
    var region_id = {$region_id};
    var tableIns;
    layui.use(['laydate', 'form', 'table'], function () {
        var table = layui.table,
            laydate = layui.laydate,
            form = layui.form;
        /**
         * 请求数据
         */
        tableIns = table.render({
            elem: '#demo',
            url: '/admin/branch/city_list?region_id='+region_id //数据接口
            ,page: true //开启分页
            ,limit: 20,
            id: 'test',
            cols: [
                [ //表头
                    {
                        field: 'region_id',
                        title: 'ID',
                        width: '10%',
                        fixed: 'left'
                    }, {
                        field: 'region_name',
                        title: '省份',
                        width: '25%'
                    }, {
                        field: 'region_short_name',
                        title: '简称',
                        width: '25%'
                    }, {
                        field: 'region_code',
                        title: '编号',
                        width: '25%',
                    }, {
                        field: 'handle',
                        title: '操作',
                        templet: function (d) {
                            var handle =
                                '<button type="button" class="layui-btn layui-btn-normal layui-btn-xs" onclick="x_admin_show(\'县级列表\',\'/admin/branch/county_list?region_id=' +
                                d.region_id + '\',null,null);">县级列表</button>';
                            return handle;
                        }
                    }
                ]
            ]
        });
        
    });

   
</script>

</html>