{include file='public/head'}

<body>
    <style media="screen" type="text/css">
        header {
            color: black;
        }

        .layui-upload {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
        }

        .layui-upload-list {
            height: 100%;
            margin: 0 10px;
        }

        .layui-upload-img {
            height: 100%;
            width: 30px;
            cursor: pointer;
        }

        .layui-layer-content {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .layui-input-block{
            margin-left: 0;
        }
        .logo-img {
            width: 50px;
        }
    </style>
    <div class="x-body">
        <div class="layui-btn-group demoTable">
            <button class="layui-btn" onclick="addOne()">
                <i class="layui-icon">&#xe608;</i>添加规格
            </button>
        </div>
        <form action="{:url('attrAdd')}" class="layui-form" id="mainForm" method="post">
            <table class="layui-table">
                <thead>
                    <tr>
                        <th width="50">ID</th>
                        <th width="100">规格名称</th>
                        <th width="50">市场价</th>
                        <th width="50">商铺价</th>
                        <th width="100">是否上架</th>
                        <th width="50">单位名称</th>
                        <th width="150">缩略图</th>
                        <th width="50">第一批%</th>
                        <th width="50">第二批%</th>
                        <th width="50">第三批%</th>
                        <th width="50">排序</th>
                        <th width="100">操作</th>
                    </tr>
                </thead>
                <tbody class="form-tb">
                    {foreach name="data" item="vo"}
                    <tr class="form-tr tr{$key}">
                        <td>
                            {$vo.id}
                            <input type="hidden" class="id{$key}" data-name="id" name="form[{$key}][id]" value="{$vo.id}" />
                        </td>
                        <td>
                            <input type="text" class="layui-input name{$key}" name="form[{$key}][name]" value="{$vo.name}" data-name="name" placeholder="请输入规格名称" lay-verify="required" autocomplete="on" />
                        </td>
                        <td>
                            <input type="text" class="layui-input price{$key}" name="form[{$key}][price]" value="{$vo.price}" data-name="price" placeholder="请输入市场价格" autocomplete="on" />
                        </td>
                        <td>
                            <input type="text" class="layui-input shop_price{$key}" name="form[{$key}][shop_price]" data-name="shop_price" value="{$vo.shop_price}" placeholder="请输入商铺价格" lay-verify="required" autocomplete="on" />
                        </td>
                        <td>
                            <input type="checkbox" class="layui-input online{$key}" name="form[{$key}][online]" lay-skin="switch" data-name="online" lay-text="上架|下架" value="1" {if condition="$vo.online == 1"}checked{/if}>
                        </td>
                        <td>
                            <input type="text" class="layui-input unit{$key}" name="form[{$key}][unit]" value="{$vo.unit}" data-name="unit" placeholder="请输入单位名称" lay-verify="required" autocomplete="on" />
                        </td>
                        <td class="upl">
                            <div class="layui-upload">
                                <button type="button" class="layui-btn layui-btn-sm upload-img{$key}"
                                    data-key="{$key}">上传图片</button>
                                <div class="layui-upload-list">
                                    <img class="layui-upload-img demo{$key}" src="__public__{$vo.thumb}"
                                        onclick="show_img(this)">
                                    <input type="hidden" class="thumb{$key}" name="form[{$key}][thumb]" value="{$vo.thumb}" />
                                </div>
                            </div>
                        </td>
                        <td>
                            <input type="text" class="layui-input pay_one{$key}" name="form[{$key}][pay_one]" value="{$vo.pay_one}" data-name="pay_one" placeholder="请输入第一批比例" autocomplete="on" />
                        </td>
                        <td>
                            <input type="text" class="layui-input pay_two{$key}" name="form[{$key}][pay_two]" value="{$vo.pay_two}" data-name="pay_two" placeholder="请输入第二批比例" autocomplete="on" />
                        </td>
                        <td>
                            <input type="text" class="layui-input pay_three{$key}" name="form[{$key}][pay_three]" value="{$vo.pay_three}" data-name="pay_three" placeholder="请输入第三批比例" autocomplete="on" />
                        </td>
                        <td>
                            <input type="text" class="layui-input sort{$key}" name="form[{$key}][sort]" value="{$vo.sort}" data-name="sort" placeholder="请输入序号"  autocomplete="on" />
                        </td>
                        <td>
                            <button type="button" class="layui-btn layui-btn-xs"
                                onclick="x_admin_show('属性列表','/admin/shop_goods_attr/unintList?pid={$vo.id}',660,400,true)">属性</button>
                            <button type="button" class="layui-btn layui-btn-danger layui-btn-xs"
                                onclick="delUser({$vo.id})">删除</button>
                        </td>
                    </tr>
                    {/foreach}
                </tbody>
            </table>
            <input type="hidden" name="goods_id" value="{$shop_goods_id}" />
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button type="submit" class="layui-btn" lay-submit="" lay-filter="submit">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>
</body>
{include file='public/foot'}
<script type="text/javascript">
    var tableIns,form,upload;
    layui.use(['laydate', 'form', 'table', 'upload'], function () {
        var laydate = layui.laydate;
        upload = layui.upload;
        form = layui.form;
        form.on('submit(submit)', function(data){
            var params = data.field;
            var length = $('.form-tr').length;
            if(length == 0){
                layer.msg('请添加规格');
                return false;
            }
            $.post('/admin/shop_goods_attr/attrAdd', params, function(data){
                var res = data.data;
                if(data.code == 200){
                    layer.msg('操作成功',{icon:1,time:1000},function(){
                        location.reload();
                    });
                }else{
                    layer.msg(data.msg);
                }
            },'json');
            return false;
        });
    });
    /**
     * 文件上传
    */
    function uploadImg(key){
        upload.render({
            elem: '.upload-img'+key,
            url: '/api/file/upload?type=thumb',
            accept: 'file', // 允许上传的文件类型
            field: 'imgFile',
            auto: true, // 自动上传
            before: function (obj) {
                var item = this.item;
                var key = $(item).data('key');
                obj.preview(function (index, file, result) {
                    $('.demo' + key).attr('src', result); //图片链接 base64
                });
            },
            done: function (res) {
                layer.msg(res.msg);
                var item = this.item;
                var key = $(item).data('key');
                if (res.error == 0) {
                    $('.thumb' + key).val(res.url);
                }
            },
            error: function (index, upload) {
                // 上传失败
            }
        });
    }
    /**
     * 批量删除
    */
    function delAll(argument) {
        if (argument == '') {
            layer.msg('没有选中的数据', { icon: 5 });
        } else {
            argument = argument.toString();
            layer.confirm('确认要全部删除吗？', function (index) {
                $.post('/admin/shop_goods_attr/deleteAttr', { id: argument }, function (j) {
                    if (j.code == 200) {
                        layer.msg('删除成功', { icon: 1, time: 1000 }, function () {
                            location.reload();
                        });
                    } else {
                        layer.msg('删除失败', { icon: 5, time: 1000 });
                    }
                }, 'json');
            });
        }
    }
    /**
     * 单个删除
    */
    function delUser(id) {
        layer.confirm('确认要删除吗？', function (index) {
            $.post('/admin/shop_goods_attr/deleteAttr', { id: id }, function (j) {
                if (j.code == 200) {
                    layer.msg('删除成功', { icon: 1, time: 1000 }, function () {
                        location.reload();
                    });
                } else {
                    layer.msg('删除失败', { icon: 5, time: 1000 });
                }
            }, 'json');
        });
    }
    /**
     * 看大图
    */
    function show_img(e) {
        layer.open({
            type: 1,
            skin: 'layui-layer-rim', //加上边框
            area: ['70%', '90%'], //宽高
            shadeClose: true, //开启遮罩关闭
            end: function (index, layero) {
                return false;
            },
            content: '<div><img src="' + $(e).attr('src') + '" /></div>'
        });
    }
    /**
     * 添加一条
    */
    function addOne(){
        var length = $('.form-tr').length;
        if(length > 0){
            var len = length - 1;
        }else{
            var len = 0;
        }
        var name = $(".name"+len).val() === undefined?"":$(".name"+len).val();
        var price = $(".price"+len).val() === undefined?"":$(".price"+len).val();
        var shop_price = $(".shop_price"+len).val() === undefined?"":$(".shop_price"+len).val();
        var unit = $(".unit"+len).val() === undefined?"":$(".unit"+len).val();
        var pay_one = $(".pay_one"+len).val() === undefined?"":$(".pay_one"+len).val();
        var pay_two = $(".pay_two"+len).val() === undefined?"":$(".pay_two"+len).val();
        var pay_three = $(".pay_three"+len).val() === undefined?"":$(".pay_three"+len).val();
        var sort = $(".sort"+len).val() === undefined?"":$(".sort"+len).val();
        var tr = '<tr class="form-tr tr'+length+'">'+
                    '<td>'+
                        'New<input type="hidden" class="id'+length+'" data-name="id" name="form['+length+'][id]" value="" />'+
                    '</td>'+
                    '<td>'+
                        '<input type="text" class="layui-input name'+length+'" name="form['+length+'][name]" value="'+name+'" data-name="name" placeholder="请输入规格名称" lay-verify="required" autocomplete="on" />'+
                    '</td>'+
                    '<td>'+
                        '<input type="text" class="layui-input price'+length+'" name="form['+length+'][price]" value="'+price+'" data-name="price" placeholder="请输入市场价格" autocomplete="on" />'+
                    '</td>'+
                    '<td>'+
                        '<input type="text" class="layui-input shop_price'+length+'" name="form['+length+'][shop_price]" value="'+shop_price+'" data-name="shop_price" placeholder="请输入商铺价格" lay-verify="required" autocomplete="on" />'+
                    '</td>'+
                    '<td>'+
                        '<input type="checkbox" class="layui-input online'+length+'" name="form['+length+'][online]" data-name="online" lay-skin="switch" lay-text="上架|下架" value="1" checked>'+
                    '</td>'+
                    '<td>'+
                        '<input type="text" class="layui-input unit'+length+'" name="form['+length+'][unit]" value="'+unit+'" data-name="unit" placeholder="请输入单位名称" lay-verify="required" autocomplete="on" />'+
                    '</td>'+
                    '<td class="upl">'+
                        '<div class="layui-upload">'+
                            '<button type="button" class="layui-btn layui-btn-sm upload-img'+length+'" data-key="'+length+'">上传图片</button>'+
                            '<div class="layui-upload-list">'+
                                '<img class="layui-upload-img demo'+length+'" src="" onclick="show_img(this)">'+
                                '<input type="hidden" class="thumb'+length+'" name="form['+length+'][thumb]" value="" />'+
                            '</div>'+
                        '</div>'+
                    '</td>'+
                    '<td>'+
                        '<input type="text" class="layui-input pay_one'+length+'" name="form['+length+'][pay_one]" value="'+pay_one+'" data-name="pay_one" placeholder="请输入第一批比例" autocomplete="on" />'+
                    '</td>'+
                    '<td>'+
                        '<input type="text" class="layui-input pay_two'+length+'" name="form['+length+'][pay_two]" value="'+pay_two+'" data-name="pay_two" placeholder="请输入第二批比例" autocomplete="on" />'+
                    '</td>'+
                    '<td>'+
                        '<input type="text" class="layui-input pay_three'+length+'" name="form['+length+'][pay_three]" value="'+pay_three+'" data-name="pay_three" placeholder="请输入第三批比例" autocomplete="on" />'+
                    '</td>'+
                    '<td>'+
                        '<input type="text" class="layui-input sort'+length+'" name="form['+length+'][sort]" value="'+sort+'" placeholder="请输入序号" data-name="sort" autocomplete="on" />'+
                    '</td>'+
                    '<td>'+
                        '<button type="button" class="layui-btn layui-btn-danger layui-btn-xs" data-key='+length+' onclick="delThis(this)">取消</button>'+
                    '</td>'+
                '</tr>';
        $('.form-tb').append(tr);
        form.render();
        uploadImg(length);
    }   
    /**
     * 删除一条
    */
    function delThis(e){
        console.log($(e).data('key')+'////');
        var key = $(e).data('key');
        $('.tr'+key).remove();
        
        var length = $('.form-tr').length;
        if(length > 0){
            var tr = $('.form-tr');
            tr.each(function(i,v){
                $(v).removeClass();
                $(v).addClass('form-tr tr'+i);
                var td = $(v).children();
                td.each(function(n,m){
                    if($(m).hasClass('upl')){
                        //文件上传
                        var button = $(m).children('div.layui-upload').children('button');
                        $(button).removeClass();
                        $(button).addClass('layui-btn layui-btn-sm upload-img'+i);
                        $(button).attr('data-key',i);
                        var list = $(m).children('div.layui-upload').children('div.layui-upload-list');
                        var img = $(list).children('img');
                        var input = $(list).children('input');
                        $(img).removeClass();
                        $(img).addClass('layui-upload-img demo'+i);
                        $(input).removeClass();
                        $(input).addClass('thumb'+i);
                        $(input).attr('name','form['+i+'][thumb]');
                    }else{
                        //输入框
                        var input = $(m).children('input');
                        var name = $(input).data('name');
                        $(input).removeClass();
                        $(input).addClass('layui-input '+name+i);
                        $(input).attr('name','form['+i+']['+name+']');
                        //取消按钮
                        var button = $(m).children('button');
                        if(button.length){
                            console.log(button);
                            $(button).attr('data-key',i);
                        }
                    }
                });
            });
        }
        form.render();
        uploadImg(length);
    }
    /**
     * 初始化文件上传
    */
    function uploadRen(){
        var length = $('.form-tr').length;
        if(length > 0){
            for(var s=0;s<=length;s++){
                uploadImg(s);
            }
        }
    }
    uploadRen();
</script>

</html>