{include file='public/head'}

<body>
    <style type="text/css" media="screen">
        header {
            color: black;
        }
        .select{
            width: 120px !important;
        }
    </style>
    <div class="x-body">
        <div class="layui-form" id='searchForm'>
            <div class="layui-form-item">
                <label class="layui-form-label">商品名称</label>
                <div class="layui-input-block">
                    <input type="text" id="name" name="name" autocomplete="off"
                        placeholder="请输入商品名称" class="layui-input" value="" />
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">所属品牌</label>
                <div class="layui-input-block">
                    <select lay-filter="brands" name="brand_id" id="brands_id">
                        <option value="">请选择</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="searchSubmit">提交</button>
                    <button type="reset" id="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </div>
    </div>
</body>
{include file='public/foot'}
<script type="text/javascript">
    var form = {};
    getBrands(8);
    layui.use(['form', 'layer'], function () {
        form = layui.form;
        var layer = layui.layer;
        form.on('submit(searchSubmit)', function (data) {
            var index = layer.msg('查询中，请稍后...', {
                icon: 16,
                time: false,
                shade: 0
            });
            setTimeout(function () {
                x_admin_close();
                parent.tableIns.reload({
                    where: { //设定异步数据接口的额外参数，任意设
                        brand_id: data.field.brand_id,
                        name:data.field.name
                    }
                    , page: {
                        curr: 1 //重新从第 1 页开始
                    }
                });
            }, 1000);
            return false;
        });
    });  
    $("#reset").on("click",function(){ window.location.reload();});
    /**
     * 获取当前分类绑定的品牌数据
    */
    function getBrands(cate_id){
        if(cate_id){
            $.post('/api/goods_cate/getBrands', {
                cate_id: cate_id,
            }, function (data) {
                var option = '<option value="">请选择</option>';
                var res = data.data;
                if (data.code == 200) {
                    if (res.length > 0) {
                        res.forEach(function (v, i) {
                            option += '<option value="' + v.id + '">' + v.name + '</option>';
                        });
                        
                    }
                }
                $('#brands_id').html(option);
                form.render('select');
            }, 'json');
        }
    }
</script>

</html>