{include file='public/head'}
<div class="x-body">
    <fieldset class="layui-elem-field">
        <legend>信息统计</legend>
        <div class="layui-field-box">
            <table class="layui-table" lay-even="" lay-skin="line">
                <tbody>
                    <tr>
                        <td>待审核商家：11</td>
                        <td>待审核公司：51</td>
                        <td>待审核设计师：48</td>
                        <td>待审核技工：15</td>
                        <td>待审核工长：31</td>
                    </tr>
                    <tr>
                        <td>待审核商品：11</td>
                        <td>待审核认证：51</td>
                        <td>待审核文章：48</td>
                        <td>待审核案例：15</td>
                        <td>待审核公告：31</td>
                    </tr>
                </tbody>
            </table>
            <table class="layui-table" lay-even="" lay-skin="line">
                <tbody>
                    <tr>
                        <td>今日加盟申请：11</td>
                        <td>今日公司预约：51</td>
                        <td>今日设计师预约：11</td>
                        <td>今日技工预约：48</td>
                        <td>今日工长预约：15</td>
                    </tr>
                    <tr>
                        <td>今日信息发布：31</td>
                        <td>今日商城订单：630</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </fieldset>
    <!-- <blockquote class="layui-elem-quote layui-quote-nm">
        龙吉宅 longjizhai.com
    </blockquote> -->
</div>
<style>
    .layui-table td,.layui-table th{
        text-align: left;
    }
</style>
{include file='public/foot'}
