{include file='public/head'}
<div class="x-body">
    <fieldset class="layui-elem-field">
        <legend>信息统计</legend>
        <div class="layui-field-box">
            <table class="layui-table" lay-even="" lay-skin="line">
                <tbody>
                    <tr>
                        <td>待审技工：{$mechanic|default=0}</td>
                        <td>待审工长：{$gongzhang|default=0}</td>
                        <td>待审设计师：{$designer|default=0}</td>
                        <td>待审装饰公司：{$company|default=0}</td>
                        <td>待审商家：{$shop|default=0}</td>
                    </tr>
                    <tr>
                        <td>待审商品：{$shop_goods|default=0}</td>
                        <td>待审认证：{$authenticate|default=0}</td>
                        <td>待审案例：{$cases|default=0}</td>
                        <td>待审文章：{$article|default=0}</td>
                        <td>待审公告：{$notice|default=0}</td>
                    </tr>
                </tbody>
            </table>
            <table class="layui-table" lay-even="" lay-skin="line">
                <tbody>
                    <tr>
                        <td>今日预约技工：{$app_mechanic|default=0}</td>
                        <td>今日预约工长：{$app_gz|default=0}</td>
                        <td>今日预约设计师：{$app_designer|default=0}</td>
                        <td>今日预约装饰公司：{$app_company|default=0}</td>
                        <td>今日商城订单：{$order|default=0}</td>
                    </tr>
                    <tr>
                        <td>今日信息发布：{$question|default=0}</td>
                        <td>{if !$user['county']}今日加盟申请：{$joining|default=0}{/if}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </fieldset>
    <!-- <blockquote class="layui-elem-quote layui-quote-nm">
        龙吉宅 longjizhai.com
    </blockquote> -->
</div>
<style>
    .layui-table td,.layui-table th{
        text-align: left;
    }
</style>
{include file='public/foot'}
