{include file="public/head"}

<body>
    <div class="x-body">
        <table id="demo" lay-filter="test"></table>
        <script type="text/html" id="toolbarDemo">
            <div class="layui-btn-container">
                <!-- <button class="layui-btn layui-btn-sm" lay-event="getCheckData">获取选中行数据</button>
                <button class="layui-btn layui-btn-sm" lay-event="getCheckLength">获取选中数目</button>
                <button class="layui-btn layui-btn-sm" lay-event="isAll">验证是否全选</button> -->
                <button class="layui-btn  layui-btn-sm layui-btn-danger" lay-event="getCheckData">
                    <i class="layui-icon layui-icon-delete"></i>批量删除
                </button>
                <button class="layui-btn layui-btn-sm" onclick="x_admin_show('添加文章','articleAdd.html',800,500)">
                    <i class="layui-icon layui-icon-add-circle-fine"></i>添加文章
                </button>
                <button class="layui-btn layui-btn-sm" onclick="javascript:location.reload()">
                    <i class="layui-icon layui-icon-refresh"></i>刷新
                </button>
                <!-- <button class="layui-btn layui-btn-sm" onclick="x_admin_show('搜索文章','articleSearch.html',800,480)">
                    <i class="layui-icon layui-icon-search"></i>搜索
                </button> -->
            </div>
        </script>
    </div>
</body>
{include file="public/foot"}
<script>
    var tableIns;
    layui.use(['laydate', 'form', 'table'], function () {
        var table = layui.table, laydate = layui.laydate, form = layui.form;
        /**
         * 请求数据
        */
        tableIns = table.render({
            elem: '#demo'
            , toolbar: '#toolbarDemo'
            , defaultToolbar: []
            , url: '/admin/designer/article' //数据接口
            , page: true //开启分页
            , limit: 20
            , id: 'test'
            , cols: [
                [ //表头
                    { type: 'checkbox', fixed: 'left',width:'5%' }
                    , { field: 'id', title: 'ID', width: '5%', fixed: 'left' }
                    , { field: 'title', title: '文章标题', width: '10%' }
                    , { field: 'cate_title', title: '所属栏目', width: '15%' }
                    , { field: 'author_name', title: '作者', width: '10%' }
                    , { field: 'uname', title: '账号', width: '15%' }
                    , { field: 'mobile', title: '手机号', width: '15%' }
                    , {
                        field: 'area', title: '所属地区', width: '10%',
                        templet: function (d) {
                            if (d.county_name) {
                                return d.county_name;
                            } else {
                                return '总站';
                            }
                        }
                    }
                    , {
                        field: 'status', title: '文章状态', width: '10%',
                        templet: function (d) {
                            /* var can_used = '<div class="layui-input-inline">' +
                                '<input type="checkbox" name="switch" value="1" lay-skin="switch" lay-text="正常|关闭" lay-filter="cc" data-user-id="' + d.id + '" ' + (d.status == 0 ? 'checked' : '') + ' />' +
                                '</div>'; */
                            if (d.status == 0) {
                                var can_used = '正常';
                            } else {
                                var can_used = '<font color="red">已删</font>';
                            }
                            return can_used;
                        }
                    }
                    , { field: 'checked_title', title: '审核', width: '5%'}
                    , { field: 'create_time', title: '创建时间', width: '15%', }
                    , {
                        field: 'handle', title: '操作',width:'10%',
                        templet: function (d) {
                            var handle = '<button type="button" class="layui-btn layui-btn-normal layui-btn-xs" onclick="x_admin_show(\'编辑文章\',\'/admin/designer/articleEdit?id=' + d.id + '\',800,480);">编辑</button>' +
                                '<button type="button" class="layui-btn layui-btn-danger layui-btn-xs" onclick="delUser(' + d.id + ');">删除</button>';
                            return handle;
                        }
                    }
                ]
            ]
        });
        /**
         * 监听批量删除 
        */
        table.on('toolbar(test)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id);
            var ids = [];
            switch (obj.event) {
                case 'getCheckData':
                    var data = checkStatus.data;
                    data.forEach(function (v, i) {
                        ids.push(v.id);
                    });
                    delAll(ids);
                    break;
            };
        });
        /**
         * 监听状态改变
        */
        form.on('switch(cc)', function (data) {
            var t = data.elem;
            var branch_id = $(t).attr('data-user-id');
            $.post('/admin/designer/articleStatus', { id: branch_id }, function (j) {
                if (j.code == '200') {
                    layer.msg('设置成功');
                }
                if (j.code == '0') {
                    layer.msg('设置失败');
                }
            }, 'json');
        });
    });
    /**
     * 批量删除
    */
    function delAll(argument) {
        if (argument == '') {
            layer.msg('没有选中的数据', { icon: 5 });
        } else {
            argument = argument.toString();
            layer.confirm('确认要全部删除吗？', function (index) {
                $.post('/admin/designer/articleDel', { id: argument }, function (j) {
                    if (j.code == 200) {
                        layer.msg('删除成功', { icon: 1, time: 1000 }, function () {
                            location.reload();
                        });
                    } else {
                        layer.msg('删除失败', { icon: 5, time: 1000 });
                    }
                }, 'json');
            });
        }
    }
    /**
     * 单个删除
    */
    function delUser(id) {
        layer.confirm('确认要删除吗？', function (index) {
            $.post('/admin/designer/articleDel', { id: id }, function (j) {
                if (j.code == 200) {
                    layer.msg('删除成功', { icon: 1, time: 1000 }, function () {
                        location.reload();
                    });
                } else {
                    layer.msg('删除失败', { icon: 5, time: 1000 });
                }
            }, 'json');
        });
    }
</script>

</html>