{include file="public/head"}

<body>
    <div class="x-body">
        <table id="demo" lay-filter="test"></table>
        <script type="text/html" id="toolbarDemo">
            <div class="layui-btn-container">
                {if $role_id <= '144'}
                <button class="layui-btn  layui-btn-sm layui-btn-danger" lay-event="getCheckData" onclick="update('1')">
                    <i class="layui-icon layui-icon-delete"></i>批量删除
                </button>
                <button class="layui-btn  layui-btn-sm layui-btn-danger" lay-event="getCheckData" onclick="update('2')">
                    <i class="layui-icon layui-icon-add-circle-fine"></i>推荐至总站
                </button>
                <button class="layui-btn  layui-btn-sm layui-btn-danger" lay-event="getCheckData" onclick="update('3')">
                    <i class="layui-icon layui-icon-delete"></i>撤销至分站
                </button>
                {/if}
                <button class="layui-btn layui-btn-sm" onclick="javascript:location.reload()">
                    <i class="layui-icon layui-icon-refresh"></i>刷新
                </button>
            </div>
        </script>
    </div>
</body>
{include file="public/foot"}
<script>
    var tableIns;
    var type = {$type};
    if(type == 1){
        name = '技工'
    }else if(type == 2){
        name = '工长'
    }else if(type == 3){
        name = '设计师'
    }else if(type == 4){
        name = '装饰公司'
    }
    layui.use(['laydate', 'form', 'table'], function () {
        var table = layui.table, laydate = layui.laydate, form = layui.form;
        /**
         * 请求数据
        */
            tableIns = table.render({
                elem: '#demo'
                , toolbar: '#toolbarDemo'
                , defaultToolbar: []
                , url: '/admin/Cases/index?type='+type //数据接口
                , page: true //开启分页
                , limit: 20
                , id: 'test'
                , cols: [
                    [ //表头
                        { type: 'checkbox', fixed: 'left' }
                        , { field: 'id', title: 'ID', width: '4%', fixed: 'left',templet:function(d){return d.LAY_INDEX;}}
                        , { field: 'case_title', title: '案例名', width: '10%' }
                        , { field: 'region', title: '所属站点', width: '12%' }
                        , { field: 'village_name', title: '小区名', width: '10%' }
                        , { field: 'uname', title: name, width: '8%' }
                        , { field: 'view_num', title: '浏览数', width: '6%' }
                        , { field: 'collect_num', title: '收藏数', width: '6%' }
                        , { field: 'sort', title: '排序', width: '6%' }
                        , { field: 'is_zong', title: '总站', width: '6%' }
                        , { field: 'create_time', title: '创建时间', width: '12%' }
                        , {
                            field: 'handle', title: '操作',
                            templet: function (d) {
                                var handle = '<button type="button" class="layui-btn layui-btn-danger layui-btn-xs" onclick="updCase(' + d.id + ');">推荐/撤销</button>' +
                                    '<button type="button" class="layui-btn layui-btn-danger layui-btn-xs" onclick="delCase(' + d.id + ',1);">删除</button>'+
                                    '<button type="button" class="layui-btn layui-btn-search layui-btn-xs" onclick="x_admin_show(\'相册\',\'/admin/cases/img?id=' + d.id + '\',null,null);">相册</button>';
                                return handle;
                            }
                        }
                    ]
                ]
            });
       
    });
    function update(method) {
        var data = [];
        data = layui.table.checkStatus('test').data;  
        layer.confirm('确认要进行操作吗？', function (index) {
            var delList=[];
            data.forEach(function(n,i){
                delList.push(n.id);             
            });
            // console.log(delList);
            // return false;
            //捉到所有被选中的，发异步进行删除
            delList = JSON.stringify( delList )
            $.post('/admin/cases/update?method='+method, { delList: delList }, function (j) {
                    if(j.code == 200){
                        layer.msg('操作成功', { icon: 1, time: 1000 }, function () {
                        location.reload();
                    });
                    }else{
                        layer.msg('操作失败', { icon: 2, time: 1000 });
                    }
                },'json');
        });
    }
    //
    function delCase(id,method) {
        layer.confirm('确认要删除吗？', function (index) {
            $.post('/admin/cases/delete', { id: id,method:method }, function (j) {
                if(j.code == 200){
                    layer.msg('删除成功', { icon: 1, time: 1000 }, function () {
                        location.reload();
                    });
                }else{
                    layer.msg('删除失败', { icon: 2, time: 1000 });
                }
            },'json');
        });
    }
    
    function updCase(id,method) {
        layer.confirm('确认要操作吗？', function (index) {
            $.post('/admin/cases/updCase', { id: id }, function (j) {
                if(j.code == 200){
                    layer.msg('推荐成功', { icon: 1, time: 1000 }, function () {
                        location.reload();
                    });
                }else{
                    layer.msg('推荐失败', { icon: 2, time: 1000 });
                }
            },'json');
        });
    }
</script>

</html>