{include file='public/head'}

<body>
	<style type="text/css" media="screen">
		header {
			color: black;
		}
		.layui-upload-img{
			width: auto;
			height: 60px;
			margin-left: 20px;
		}
	</style>
	<div class="x-body">
		<div class="layui-form">
			<div class="layui-form-item">
				<label class="layui-form-label">微信token</label>
				<div class="layui-input-block">
					<input type="text" id="token" name="token" autocomplete="off" placeholder="请输入分站名称" value="{$data.token}" class="layui-input">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">公众号名称</label>
				<div class="layui-input-block">
					<input type="text" id="name" name="name" value="{$data.name}" autocomplete="off" placeholder="请输入公众号名称" class="layui-input">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">微信原始ID</label>
				<div class="layui-input-block">
					<input type="text" id="original_id" name="original_id" value="{$data.original_id}" autocomplete="off" placeholder="请输入微信原始ID" class="layui-input">
				</div>
			</div>
			<!-- <div class="layui-form-item QR">
				<label class="layui-form-label">微信二维码</label>
				<div class="layui-input-block" style="display: flex;">
					<button type="button" class="layui-btn upload-img" id="QR"  lay-data="{id:'QR_img'}">
						<i class="layui-icon">&#xe67c;</i>微信二维码
					</button>
					<img class="layui-upload-img" id="QR" src="{$data.QR}" />
				</div>
				
			</div> -->

			<div class="layui-form-item logo">
				<label class="layui-form-label">微信二维码</label>
				<div class="layui-input-block" style="display: flex;">
					<button type="button" class="layui-btn upload-img" id="QR"  lay-data="{id:'QR_img'}">
						<i class="layui-icon">&#xe67c;</i>微信二维码
					</button>
					<img class="layui-upload-img" id="QR_img" src="{$data.QR}" />
				</div>
				
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">APPID</label>
				<div class="layui-input-block">
					<input type="text" id="app_id" name="app_id" value="{$data.app_id}" autocomplete="off" placeholder="请输入微信的AppID" class="layui-input">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">AppSecret</label>
				<div class="layui-input-block">
					<input type="text" id="AppSecret" name="AppSecret" value="{$data.AppSecret}" autocomplete="off" placeholder="请输入AppSecret" class="layui-input">
				</div>
			</div>
			<input type="hidden" value="{$data.id}" name="id" />
			<input type="hidden" value="{$data.QR}" name="QR" />
			<div class="layui-form-item">
				<div class="layui-input-block">
					<button class="layui-btn" lay-submit lay-filter="toSubmit">提交</button>
					<button id="reset" type="reset" class="layui-btn layui-btn-primary">重置</button>
				</div>
			</div>
		</div>
	</div>
</body>
{include file='public/foot'}
<script type="text/javascript">
	layui.use(['form', 'layer'], function () {
		var form = layui.form;
		var layer = layui.layer;
		/**
		 * 监听表单提交
		 */
		form.on('submit(toSubmit)', function (data) {
			var params = {
				token: data.field.token,
				name: data.field.name,
				original_id: data.field.original_id,
				QR: data.field.QR,
				app_id: data.field.app_id,
				AppSecret: data.field.AppSecret,
				id: data.field.id
			};
			// console.log(params);return false;
			$.post('/admin/system/set_upd', params, function (data) {
				var res = data.data;
				if (data.code == 200) {
					layer.msg('修改成功', {
						icon: 1,
						time: 1000
					}, function () {
						x_admin_close();
						parent.location.reload();
					});
				} else {
					layer.msg('修改失败', {
						icon: 1,
						time: 1000
					}, function () {
						x_admin_close();
						parent.location.reload();
					});
				}
			}, 'json');
			return false;
		});
		layui.use('upload', function () {
			var upload = layui.upload;
			var uploadInst = upload.render({
				elem: '.upload-img',
				url: '/api/file/upload?type=logo',
				accept: 'file', // 允许上传的文件类型
				field: 'imgFile',
				auto: true, // 自动上传
				before: function (obj) {
					var id = this.id;
					obj.preview(function (index, file, result) {
						$('#'+id).attr('src', result); //图片链接 base64
					});
				},
				done: function (res) {
					layer.msg(res.msg);
					if (res.error == 0) {
						var id = this.id;
						$("input[name='QR']").val(res.url);
					}
				},
				error: function (index, upload) {
					// 上传失败
				}
			});
		});
	});
</script>

</html>