{include file='public/head'}

<body>
    <style media="screen" type="text/css">
        header {
            color: black;
        }
        .items{
            display: flex;
            align-items: center;
            width: 70% !important;
        }
        .option-add{
            margin-left: 10px;
            width: 40% !important;
            display: flex;
            align-items: center;
        }
    </style>
    <div class="x-body">
        <div class="layui-form">
            <div class="layui-form-item">
                <label class="layui-form-label">题目</label>
                <div class="layui-input-block">
                    <input autocomplete="off" class="layui-input" lay-verify="required" name="title" placeholder="请输入题目" type="text" value="{$option['title']}" />
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">类型</label>
                <div class="layui-input-block">
                    <select lay-filter="type" name="type" lay-verify="required">
                        <option value="">请选择</option>
                        <option value="radio" {if condition="$option['type'] == 'radio'"}selected{/if}>单选</option>
                        <option value="checkbox" {if condition="$option['type'] == 'checkbox'"}selected{/if}>多选</option>
                        <option value="input" {if condition="$option['type'] == 'input'"}selected{/if}>输入框</option>
                        <option value="textarea" {if condition="$option['type'] == 'textarea'"}selected{/if}>文本域</option>
                    </select>
                </div>
            </div>
            {if $option['type'] == 'radio' || $option['type'] == 'checkbox'}
            <div class="option">
                <!-- {$i=1} -->
                {foreach $option['option'] as $key=>$vo}
                <div class="layui-form-item option-i option{$i}">
                    <label class="layui-form-label">选项{$key}</label>
                    <div class="layui-input-inline items">
                        <input autocomplete="off" class="layui-input option-item" lay-verify="required" name="option[{$key}]" placeholder="请输入选项" type="text" value="{$vo}" />
                        <div class="option-add">
                            <button type="button" class="layui-btn layui-btn-sm" onclick="addCate(this)">
                                <i class="layui-icon">&#xe608;</i>
                            </button>
                            {if $i > 1}
                            <button type="button" class="layui-btn layui-btn-danger layui-btn-sm delete" data-id="{$i}" onclick="delCate(this)" >
                                <i class="layui-icon">&#xe640;</i>
                            </button>
                            {/if}
                        </div>
                    </div>
                </div>
                <!-- {$i++} -->
                {/foreach}
            </div>
            {/if}
            <div class="layui-form-item">
                <label class="layui-form-label">答案</label>
                <div class="layui-input-block">
                    <input autocomplete="off" class="layui-input" lay-verify="required" name="answer" placeholder="请输入答案(多个选项请用英文逗号隔开)" type="text" value="{$option['answer']}" />
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">分值</label>
                <div class="layui-input-block">
                    <input autocomplete="off" class="layui-input" lay-verify="required" name="point" placeholder="请输入分值" type="number" value="{$option['point']}" />
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">排序</label>
                <div class="layui-input-block">
                    <input autocomplete="off" class="layui-input" lay-verify="required" name="sort" placeholder="请输入序号" type="text" value="{$option['sort']}" />
                </div>
            </div>
            <div class="layui-form-item">
				<label class="layui-form-label">状态</label>
				<div class="layui-input-block">
					<input type="checkbox" name="status" lay-skin="switch" lay-text="开启|关闭" value="1" {if condition="$option['status'] == 1"}checked{/if} />
				</div>
            </div>
            <input type="hidden" name="id" value="{$option['id']}" />
            <input type="hidden" name="test_id" value="{$option['test_id']}" />
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-filter="toSubmit" lay-submit="" style="margin-left: 33%">提交</button>
                </div>
            </div>
        </div>
    </div>
</body>
{include file='public/foot'}
<script type="text/javascript">
    var form = {};
    layui.use(['form', 'layer', 'upload'], function () {
        form = layui.form;
        var layer = layui.layer,upload = layui.upload;
        form.on('select(type)',function(data){
            if(data.value=='radio' || data.value=='checkbox'){
                $('.option-item').attr('lay-verify','required');
                $('.option').show();
            }else{
                $('.option-item').removeAttr('lay-verify');
                $('.option').hide();
            }
        });
        form.on('submit(toSubmit)', function (data) {
            var params = data.field;
			$.post('/admin/test/optionEdit', params, function (data) {
				var res = data.data;
				if (data.code == 200) {
					layer.msg('修改成功', {
						icon: 1,
						time: 1000
					}, function () {
						x_admin_close();
						parent.location.reload();
					});
				} else {
					layer.msg('修改失败', {
						icon: 1,
						time: 1000
					}, function () {
						x_admin_close();
						parent.location.reload();
					});
				}
			}, 'json');
        });
    });
    /**
     * 修改选项
    */
    function addCate(obj) {
        var num = $('.option-i').length;
        var id = parseInt(num) + 1;
        var name = numChange(id);
        var cate = '<div class="layui-form-item option-i option' + id + '">' +
                        '<label class="layui-form-label">选项'+name+'</label>' +
                        '<div class="layui-input-inline items">' +
                            '<input autocomplete="off" class="layui-input option-item" lay-verify="required" name="option['+name+']" placeholder="请输入选项" type="text" value="" />'+
                        '<div class="option-add">'+
                            '<button type="button" class="layui-btn layui-btn-sm" onclick="addCate(this)">'+
                                '<i class="layui-icon">&#xe608;</i>'+
                            '</button>'+
                            '<button type="button" class="layui-btn layui-btn-danger layui-btn-sm delete" data-id="' + id + '" onclick="delCate(this)">' +
                                '<i class="layui-icon">&#xe640;</i></i>' +
                            '</button>' +
                        '</div>' +
                    '</div>';
        $('.option' + num).after(cate);
        form.render();
    }
    /**
     * 删除选项
    */
    function delCate(obj) {
        var id = $(obj).data('id');
        $('.option' + id).remove();
        var num = $('.option-i').length;
        $('.option-i').each(function (i, v) {
            console.log(i);
            var s = i + 1;
            var name = numChange(s);
            $(v).attr('class', 'layui-form-item option-i option' + s);
            $(v).find('.layui-form-label').text('选项'+name);
            $(v).find('.option-item').attr('name','option['+name+']');
            $(v).find('.delete').attr({ 'data-id': s });
        });
        form.render();
    }
    /**
     * 数字转换字母
    */
    function numChange(num){
        var array = ['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z'];
        if(num < 27 && num > 0){
            return array[num-1];
        }
    }
</script>

</html>