{include file='public/head'}

<body>
    <style media="screen" type="text/css">
        header {
            color: black;
        }

        #thumb {
            display: none;
        }

        .layui-upload-img {
            width: auto;
            height: 60px;
            margin-left: 20px;
        }

        .layui-form-item .layui-input-inline {
            width: 170px;
        }

        .type {
            display: flex;
            align-items: center;
        }
    </style>
    <div class="x-body">
        <form action="addBrands" class="layui-form" id="mainForm" method="post" style="margin-right: 20px;">
            <div class="layui-form-item">
                <label class="layui-form-label">品牌名称</label>
                <div class="layui-input-block">
                    <input autocomplete="off" class="layui-input" lay-verify="required" name="name"
                        placeholder="请输入品牌名称" type="text" />
                </div>
            </div>
            <div class="layui-form-item type type1">
                <label class="layui-form-label">所属分类</label>
                <div class="layui-input-inline">
                    <select lay-filter="one" class="select one1" lay-verify="required" data-id='1'>
                        <option value="0">请选择</option>
                    </select>
                </div>
                <div class="layui-input-inline">
                    <select lay-filter="two" class="select two1" lay-verify="required" data-id="1">
                        <option value="0">请选择</option>
                    </select>
                </div>
                <div class="layui-input-inline">
                    <select name="cate[]" class="select three1" lay-filter="three" lay-verify="required">
                        <option value="0">请选择</option>
                    </select>
                </div>
                <button type="button" class="layui-btn layui-btn-xs" onclick="addCate(this)">
                    <i class="layui-icon">&#xe608;</i>
                </button>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">品牌logo</label>
                <div class="layui-input-block" style="display: flex;">
                    <button type="button" class="layui-btn upload-img">
                        <i class="layui-icon">&#xe67c;</i>选择图片</i>
                    </button>
                    <img class="layui-upload-img" id="thumb" src="">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">品牌介绍</label>
                <div class="layui-input-block">
                    <textarea class="layui-textarea" placeholder="请输入品牌介绍" id="notice" name="content"
                        style="width: 100%;height: 400px;"></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">排&nbsp;&nbsp;&nbsp;&nbsp;序</label>
                <div class="layui-input-block">
                    <input autocomplete="off" class="layui-input" lay-verify="required" name="sort"
                        placeholder="排序数值越大排列越靠前" type="text" value="0" />
                </div>
            </div>
            <input type="hidden" name="logo" value="" />
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-filter="toSubmit" lay-submit="" style="margin-left: 33%">提交</button>
                </div>
            </div>
        </form>
    </div>
</body>
{include file='public/foot'}
<script type="text/javascript" src="__static__/kindeditor/kindeditor-all.js"></script>
<script type="text/javascript" src="__static__/kindeditor/lang/zh-CN.js"></script>
<script type="text/javascript">
    KindEditor.ready(function (K) {
        notice = K.create('#notice', {
            uploadJson: '/api/file/upload?type=brands',
            afterBlur: function () {
                this.sync();
            }
        });
    });
    var form = '', layer = '', upload = '';
    getTypeTop(1);//初始化顶级分类属性
    layui.use(['form', 'layer', 'upload'], function () {
        form = layui.form, layer = layui.layer, upload = layui.upload;
        /* form.on('submit(toSubmit)', function (data) {
            var params = {
				name: data.field.name,
				goods_cate: data.field.goods_cate,
				logo: data.field.logo,
				sort: data.field.sort,
                cate: data.field.cate,
				content: data.field.content,
			};
			$.post('/admin/goods_brand/addBrands', params, function (data) {
				var res = data.data;
				if (data.code == 200) {
					layer.msg('添加成功', {
						icon: 1,
						time: 1000
					}, function () {
						x_admin_close();
						parent.location.reload();
					});
				} else {
					layer.msg('添加失败', {
						icon: 1,
						time: 1000
					}, function () {
						x_admin_close();
						parent.location.reload();
					});
				}
			}, 'json');
        }); */
        /**
         * 监听分类一选择
        */
        form.on('select(one)', function (data) {
            var id = data.elem.dataset.id;
            if (data.value == 0 || data.value == '') {
                $('.two' + id).html('<option value="0">请选择</option>');
                $('.three' + id).html('<option value="0">请选择</option>');
                form.render('select');
                return false;
            }
            $.post('/api/goods_cate/index', {
                pid: data.value,
                type: 2,
            }, function (data) {
                var res = data.data;
                if (data.code == 200) {
                    if (res.length > 0) {
                        var option = '<option value="0">请选择</option>';
                        res.forEach(function (v, i) {
                            option += '<option value="' + v.id + '">' + v.title + '</option>';
                        });
                        $('.two' + id).html(option);
                        $('.three' + id).html('<option value="0">请选择</option>');
                        form.render('select');
                    }
                } else {
                    layer.msg(data.msg);
                }
            }, 'json');
        });
        /**
         * 监听分类二选择
        */
        form.on('select(two)', function (data) {
            var id = data.elem.dataset.id;
            if (data.value == 0 || data.value == '') {
                $('.three' + id).html('<option value="0">请选择</option>');
                form.render('select');
                return false;
            }
            $.post('/api/goods_cate/index', {
                pid: data.value,
                type: 2,
            }, function (data) {
                var res = data.data;
                if (data.code == 200) {
                    if (res.length > 0) {
                        var option = '<option value="0">请选择</option>';
                        res.forEach(function (v, i) {
                            option += '<option value="' + v.id + '">' + v.title + '</option>';
                        });
                        $('.three' + id).html(option);
                        form.render('select');
                    }
                } else {
                    layer.msg(data.msg);
                }
            }, 'json');
        });
        /**
         * 图片上传
        */
        var uploadInst = upload.render({
            elem: '.upload-img',
            url: '/api/file/upload?type=brands',
            accept: 'file', // 允许上传的文件类型
            field: 'imgFile',
            auto: true, // 自动上传
            before: function (obj) {
                obj.preview(function (index, file, result) {
                    $('#thumb').attr('src', result); //图片链接 base64
                });
            },
            done: function (res) {
                layer.msg(res.msg);
                if (res.error == 0) {
                    $("input[name='logo']").val(res.url);
                    $('#thumb').show();
                }
            },
            error: function (index, upload) {
                // 上传失败
            }
        });
    });
    /**
     * 添加分类属性
    */
    function addCate(obj) {
        var num = $('.type').length;
        var id = parseInt(num) + 1;
        var cate = '<div class="layui-form-item type type' + id + '">' +
            '<label class="layui-form-label">所属分类</label>' +
            '<div class="layui-input-inline">' +
            '<select lay-filter="one" class="select one' + id + '" lay-verify="required" data-id="' + id + '">' +
            '<option value="0">请选择</option>' +
            '</select>' +
            '</div>' +
            '<div class="layui-input-inline">' +
            '<select lay-filter="two" class="select two' + id + '" lay-verify="required" data-id="' + id + '">' +
            '<option value="0">请选择</option>' +
            '</select>' +
            '</div>' +
            '<div class="layui-input-inline">' +
            '<select name="cate[]" class="select three' + id + '" lay-filter="three" lay-verify="required">' +
            '<option value="0">请选择</option>' +
            '</select>' +
            '</div>' +
            '<button type="button" class="layui-btn layui-btn-xs" onclick="addCate(this)">' +
            '<i class="layui-icon">&#xe608;</i></i>' +
            '</button>' +
            '<button type="button" class="layui-btn layui-btn-danger layui-btn-xs delete" data-id="' + id + '" onclick="delCate(this)">' +
            '<i class="layui-icon">&#xe640;</i></i>' +
            '</button>' +
            '</div>';
        $('.type' + num).after(cate);
        getTypeTop(id);
        form.render('select');
    }
    /**
     * 删除分类属性
    */
    function delCate(obj) {
        var id = $(obj).data('id');
        $('.type' + id).remove();
        var num = $('.type').length;
        $('.type').each(function (i, v) {
            var s = i + 1;
            $(v).removeClass();
            $(v).attr('class', 'layui-form-item type type' + s);
            $(v).find('.select').each(function (m, n) {
                $(n).removeClass();
                if (m == '0') {
                    $(n).attr({ 'class': 'select one' + s, 'data-id': s });
                }
                if (m == '1') {
                    $(n).attr({ 'class': 'select two' + s, 'data-id': s });
                }
                if (m == '2') {
                    $(n).attr({ 'class': 'select three' + s, 'data-id': s });
                }
            });
            $(v).find('.delete').attr({ 'data-id': s });
        });
    }
    /**
     * 获取顶级分类
    */
    function getTypeTop(id) {
        var params = { type: 1 };
        $.post('/api/goods_cate/index', params, function (data) {
            var res = data.data;
            if (data.code == 200) {
                var option = "<option value='0'>请选择</option>";
                data.data.forEach(function (v, i) {
                    option += "<option value=" + v.id + ">" + v.title + "</option>";
                });
                $('.one' + id).html(option);
                form.render('select');
            } else {
                layer.msg(data.msg);
            }
        }, 'json');
    }
    $(document).ready(function () {
        var options = {
            type: 'post',           //post提交
            dataType: "json",        //json格式
            data: {},    //如果需要提交附加参数，视情况添加
            clearForm: false,        //成功提交后，清除所有表单元素的值
            resetForm: false,        //成功提交后，重置所有表单元素的值
            cache: false,
            async: false,          //同步返回
            success: function (data) {
                console.log(data);
                if (data.code == 0) {
                    layer.msg(data.msg);
                } else {
                    layer.msg(data.msg, { icon: 1, time: 1000 }, function () {
                        $("#reset").click();
                        x_admin_close();
                        parent.location.reload();
                    });
                }
            },
            error: function (XmlHttpRequest, textStatus, errorThrown) {
                layer.msg('操作失败:服务器处理失败');
            }
        };
        $('#mainForm').ajaxForm(options).submit(function (data) { });
    });
</script>

</html>