<!DOCTYPE html>
<html>
<head>
  <title>极速后台开发框架</title>
  {block name="css"}{/block}
  <link rel="stylesheet" href="__css__/swiper.css">
  <link rel="stylesheet" href="__css__/home.css">
  <meta name="keywords" content="后台开发框架" />
  <meta name="description" content="极速后台开发框架" />
</head>
<body>
{block name="content"}{/block}
</body>
<script src="__js__/jquery.min.js"></script>
<script src="__js__/swiper.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
{block name='js'}{/block}
{block name='script'}{/block}
</html>