{include file="public/head"}
<style>
    .logo-img{
        width: 100px;
        height: 30px;
    }
</style>
<body>
    <div class="x-body">
        <div class="layui-form">
            <table id="demo" lay-filter="advertisement"></table>
        </div>
        <script type="text/html" id="toolbarDemo">
            <div class="layui-btn-container">
                <button class="layui-btn  layui-btn-sm layui-btn-danger" lay-event="getCheckData">
                    <i class="layui-icon layui-icon-delete"></i>批量删除
                </button>
                <button class="layui-btn layui-btn-sm" onclick="x_admin_show('添加广告','dataAdd.html',800,580)">
                    <i class="layui-icon layui-icon-add-circle-fine"></i>添加广告
                </button>
                <button class="layui-btn layui-btn-sm" onclick="javascript:location.reload()">
                    <i class="layui-icon layui-icon-refresh"></i>刷新
                </button>
            </div>
        </script>
    </div>
</body>
{include file="public/foot"}
<script>
    var tableIns;
    layui.use(['laydate', 'form', 'table'], function () {
        var table = layui.table, laydate = layui.laydate, form = layui.form;
        /**
         * 请求数据
        */
        tableIns = table.render({
            elem: '#demo'
            , toolbar: '#toolbarDemo'
            , defaultToolbar: []
            , url: '/admin/advertisement/dataLis' //数据接口
            , page: true //开启分页
            , limit: 20
            , id: 'advertisement'
            , cols: [
                [ //表头
                    { type: 'checkbox', fixed: 'left',width:'5%' }
                    , { field: 'id', title: '序号', width: '5%', fixed: 'left',templet:function(d){return d.LAY_INDEX;}}
                    , { field: 'id', title: 'ID', width: '5%'}
                    , { field: 'title', title: '标题', width: '8%' }
                    , { field: 'img', title: '图片', width: '12%',
                        templet:function(d){
                            return '<img class="logo-img" src="'+d.img+'"/>';
                        }
                    }
                    , { field: 'advertisement_name', title: '广告位置' }
                    , { field: 'area', title: '所属站点', width: '10%',
                        templet:function(d){
                            var can_used = '总站';
                            if(d.county){
                                can_used = d.province_name + '-' + d.city_name + '-' + d.county_name;
                            }
                            return can_used;
                        }
                    }
                    , { field: 'sort', title: '排序', width: '8%', }
                    , { field: 'status', title: '状态', width: '8%',
                        templet:function(d){
                            if(d.status == '1'){
                                return '正常';
                            }else if(d.status == '0'){
                                return '禁用';
                            }else if(d.status == '3'){
                                return '已过期';
                            }
                        }
                    }
                    , { field: 'end_time', title: '有效期', width: '10%',
                        templet:function(d){
                            if(d.end_time){
                                return d.end_time;
                            }else{
                                return '永久';
                            }
                        }
                    }
                    , { field: 'create_time', title: '创建时间', width: '10%', }
                    , {
                        field: 'handle', title: '操作',width: '10%',
                        templet: function (d) {
                            var handle = '<button type="button" class="layui-btn layui-btn-xs" onclick="x_admin_show(\'编辑广告内容\',\'/admin/advertisement/dataEdit?id=' + d.id + '\',800,580);">编辑</button>'+
                            '<button type="button" class="layui-btn layui-btn-danger layui-btn-xs" onclick="delUser(' + d.id + ');">删除</button>';
                            return handle;
                        }
                    }
                ]
            ]
        });
        /**
         * 监听批量删除 
        */
        table.on('toolbar(advertisement)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id);
            var ids = [];
            switch (obj.event) {
                case 'getCheckData':
                    var data = checkStatus.data;
                    data.forEach(function (v, i) {
                        ids.push(v.id);
                    });
                    delAll(ids);
                    break;
            };
        });
    });
    /**
     * 批量删除
    */
    function delAll(argument) {
        if (argument == '') {
            layer.msg('没有选中的数据', { icon: 5 });
        } else {
            argument = argument.toString();
            layer.confirm('确认要全部删除吗？', function (index) {
                $.post('/admin/advertisement/dataDel', { id: argument }, function (j) {
                    if (j.code == 200) {
                        layer.msg('删除成功', { icon: 1, time: 1000 }, function () {
                            location.reload();
                        });
                    } else {
                        layer.msg('删除失败', { icon: 5, time: 1000 });
                    }
                }, 'json');
            });
        }
    }
    /**
     * 单个删除
    */
    function delUser(id) {
        layer.confirm('确认要删除吗？', function (index) {
            $.post('/admin/advertisement/dataDel', { id: id }, function (j) {
                if (j.code == 200) {
                    layer.msg('删除成功', { icon: 1, time: 1000 }, function () {
                        location.reload();
                    });
                } else {
                    layer.msg('删除失败', { icon: 5, time: 1000 });
                }
            }, 'json');
        });
    }
</script>

</html>