{include file='public/head'}

<body>
    <style media="screen" type="text/css">
        header {
            color: black;
        }
    </style>
    <div class="x-body">
        <div class="layui-form" id="mainForm" style="margin-right: 20px;">
            <div class="layui-form-item">
                <label class="layui-form-label">位置名称</label>
                <div class="layui-input-block">
                    <input autocomplete="off" class="layui-input" name="name"
                        placeholder="请输入位置名称" type="text" value="{$advertisement['name']}" />
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">状态</label>
                <div class="layui-input-block">
                    <input type="checkbox" name="status" lay-skin="switch" lay-text="正常|禁用" value="1" {if condition="$advertisement['status'] == 1"}checked{/if} >
                  </div>
            </div>
            <input type="hidden" name="id" value="{$advertisement['id']}" />
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-filter="toSubmit" lay-submit="" style="margin-left: 33%">提交</button>
                </div>
            </div>
        </div>
    </div>
</body>
{include file='public/foot'}
<script type="text/javascript">
    layui.use(['form', 'layer', 'upload'], function () {
        var form = layui.form,layer = layui.layer,upload = layui.upload;
        form.on('submit(toSubmit)', function (data) {
			$.post('/admin/advertisement/edit', data.field, function (data) {
				var res = data.data;
				if (data.code == 200) {
					layer.msg('修改成功', {
						icon: 1,
						time: 1000
					}, function () {
						x_admin_close();
						parent.location.reload();
					});
				} else {
					layer.msg('修改失败', {
						icon: 5,
						time: 1000
					}, function () {
						x_admin_close();
						parent.location.reload();
					});
				}
			}, 'json');
        });
    });
</script>

</html>