{include file="public/head"}

<body>
    <div class="x-body">
        <table id="demo" lay-filter="test"></table>
        <script type="text/html" id="toolbarDemo">
            <div class="layui-btn-container"> 
                <!-- <button class="layui-btn layui-btn-sm" lay-event="getCheckData">获取选中行数据</button>
                <button class="layui-btn layui-btn-sm" lay-event="getCheckLength">获取选中数目</button>
                <button class="layui-btn layui-btn-sm" lay-event="isAll">验证是否全选</button> -->
                <button class="layui-btn layui-btn-sm" onclick="javascript:location.reload()">
                    <i class="layui-icon layui-icon-refresh"></i>刷新
                </button>
                <button class="layui-btn layui-btn-sm" onclick="x_admin_show('搜索预约','/admin/check/searchA?type='+type,800,480)">
                    <i class="layui-icon layui-icon-search"></i>搜索
                </button>
            </div>
        </script>
    </div>
</body>
{include file="public/foot"}
<script>
    var tableIns;
    
    layui.use(['laydate', 'form', 'table'], function () {
        var table = layui.table, laydate = layui.laydate, form = layui.form;
        /**
         * 请求数据
        */
        tableIns = table.render({
            elem: '#demo'
            , toolbar: '#toolbarDemo'
            , defaultToolbar: []
            , url: '/admin/check/authenticate' //数据接口
            , page: true //开启分页
            , limit: 20
            , id: 'test'
            , cols: [
                [ //表头
                    { type: 'checkbox', fixed: 'left' }
                    , { field: 'id', title: 'ID', width: '5%', fixed: 'left' }
                    , { field: 'uname', title: '申请人', width: '8%' }
                    , { field: 'type', title: '认证类型', width: '8%' }
                    , { field: 'region', title: '所属城市', width: '12%', }
                    , { field: 'create_time', title: '申请时间', width: '12%', }
                    , { field: 'credentials_code', title: '证件号', width: '15%', }
                    , { field: 'credentials_img', title: '证件图片', width: '15%', 
                        templet:function(d){
                                if(d.credentials_img){
                                    var credentials_img = '<img src="__public__'+d.credentials_img+'" class="logo-img" />';
                                }else{
                                    var credentials_img = '暂无图片';
                                }
                                return credentials_img;
                            }
                        }
                    , {
                        field: 'handle', title: '操作',
                        templet: function (d) {
                            var handle = '<button type="button" class="layui-btn layui-btn-normal layui-btn-xs" onclick="x_admin_show(\'审核\',\'/admin/check/edit?id=' + d.id +'&type=2' + '\',800,480);">审核</button>' ;
                            return handle;
                        }
                    }
                ]
            ]
        });
    });
</script>

</html>