{include file='public/head'}

<body>
	<style type="text/css" media="screen">
		header {
			color: black;
		}

		.layui-upload-img {
			width: auto;
			height: 60px;
			margin-left: 20px;
		}
	</style>
	<div class="x-body">
		<div class="layui-form">
			<div class="layui-form-item">
				<label class="layui-form-label">是否通过</label>
				<div class="layui-input-block">
					<input type="checkbox" name="checked" lay-skin="switch" lay-text="是|否" value="1"
						lay-filter="switch">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">拒绝理由</label>
				<div class="layui-input-block">
					<textarea class="layui-textarea" placeholder="请输入公告内容" lay-verify="required" id="reason"
						name="reason" style="width: 100%;height: 200px;"></textarea>
				</div>
			</div>
			<input type="hidden" value="{$id}" name="id" />
			<input type="hidden" value="{$type}" name="type" />
			<div class="layui-form-item">
				<div class="layui-input-block">
					<button class="layui-btn" lay-submit lay-filter="toSubmit">提交</button>
					<button id="reset" type="reset" class="layui-btn layui-btn-primary">重置</button>
				</div>
			</div>
		</div>
	</div>
</body>
{include file='public/foot'}
<script type="text/javascript">
	var uid = '{$uid}';
	layui.use(['form', 'layer'], function () {

		var form = layui.form;
		var layer = layui.layer;
		/**
		 * 监听表单提交
		 */
		form.on('submit(toSubmit)', function (data) {
			var params = {
				reason: data.field.reason,
				checked: data.field.checked ? 1 : 2
			};
			if (uid != '') {
				$.post('/admin/check/edit?id=' + data.field.id + '&uid=' + uid + '&type=' + data.field
					.type, params,
					function (data) {
						var res = data.data;
						if (data.code == 200) {
							layer.msg('修改成功', {
								icon: 1,
								time: 1000
							}, function () {
								x_admin_close();
								parent.location.reload();
							});
						} else {
							layer.msg('修改失败', {
								icon: 1,
								time: 1000
							}, function () {
								x_admin_close();
								parent.location.reload();
							});
						}
					}, 'json');
			} else {
				$.post('/admin/check/edit?id=' + data.field.id + '&type=' + data.field.type, params,
					function (data) {
						var res = data.data;
						if (data.code == 200) {
							layer.msg('修改成功', {
								icon: 1,
								time: 1000
							}, function () {
								x_admin_close();
								parent.location.reload();
							});
						} else {
							layer.msg('修改失败', {
								icon: 1,
								time: 1000
							}, function () {
								x_admin_close();
								parent.location.reload();
							});
						}
					}, 'json');
			}

			return false;
		});
		form.on('switch(switch)', function (data) {
			if (!data.elem.checked) {
				if (typeof ($("#reason").attr("required")) == "undefined") {
					$("#reason").attr("lay-verify", "required");

				}
			} else {
				$("#reason").removeAttr("lay-verify");
			}
			form.render();
		})

	});
</script>

</html>