{include file="public/head"}
<style>
    .logo-img{
        width: 50px;
        height: 50px;
        margin-right: 10px;
        cursor: pointer;
    }
    .layui-layer-content{
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>
<body>
    <div class="x-body">
        <table id="demo" lay-filter="test"></table>
        <script type="text/html" id="toolbarDemo">
            <div class="layui-btn-container"> 
                <!-- <button class="layui-btn layui-btn-sm" lay-event="getCheckData">获取选中行数据</button>
                <button class="layui-btn layui-btn-sm" lay-event="getCheckLength">获取选中数目</button>
                <button class="layui-btn layui-btn-sm" lay-event="isAll">验证是否全选</button> -->
                <button class="layui-btn layui-btn-sm" onclick="javascript:location.reload()">
                    <i class="layui-icon layui-icon-refresh"></i>刷新
                </button>
                <button class="layui-btn layui-btn-sm" onclick="x_admin_show('搜索预约','/admin/check/search?type='+{$type},400,240)">
                    <i class="layui-icon layui-icon-search"></i>搜索
                </button>
            </div>
        </script>
    </div>
</body>
{include file="public/foot"}
<script>
    var tableIns;
    var type = {$type};
    layui.use(['laydate', 'form', 'table'], function () {
        var table = layui.table, laydate = layui.laydate, form = layui.form;
        /**
         * 请求数据
        */
       if(type == 1){
        tableIns = table.render({
            elem: '#demo'
            , toolbar: '#toolbarDemo'
            , defaultToolbar: []
            , url: '/admin/check/authenticate' //数据接口
            , page: true //开启分页
            , limit: 20
            , id: 'test'
            , cols: [
                [ //表头
                    { type: 'checkbox', fixed: 'left' }
                    , { field: 'id', title: 'ID', width: '5%', fixed: 'left',templet:function(d){return d.LAY_INDEX;}}
                    , { field: 'uname', title: '申请人', width: '8%' }
                    , { field: 'type', title: '认证类型', width: '8%' }
                    , { field: 'area', title: '所属城市', width: '12%', }
                    , { field: 'create_time', title: '申请时间', width: '12%', }
                    , { field: 'credentials_code', title: '证件号', width: '15%', }
                    , { field: 'credentials_img1', title: '证件图片', width: '15%', 
                        templet:function(d){
                                if(d.credentials_img1){
                                    var credentials_img = '<img src="'+d.credentials_img1+'" class="logo-img" onclick="show_img(this)" />';
                                    if(d.credentials_img2){
                                        credentials_img += '<img src="'+d.credentials_img2+'" class="logo-img" onclick="show_img(this)" />';
                                    }
                                }else{
                                    var credentials_img = '暂无图片';
                                }
                                return credentials_img;
                            }
                        }
                    , {
                        field: 'handle', title: '操作',
                        templet: function (d) {
                            var handle = '<button type="button" class="layui-btn layui-btn-normal layui-btn-xs" onclick="x_admin_show(\'审核\',\'/admin/check/edit?id=' + d.id +'&uid='+ d.uid +'&type=1' + '\',400,240);">审核</button>' ;
                            return handle;
                        }
                    }
                ]
            ]
        });
       }else if(type == 2){
        tableIns = table.render({
            elem: '#demo'
            , toolbar: '#toolbarDemo'
            , defaultToolbar: []
            , url: '/admin/check/article' //数据接口
            , page: true //开启分页
            , limit: 20
            , id: 'test'
            , cols: [
                [ //表头
                    { type: 'checkbox', fixed: 'left' }
                    , { field: 'id', title: 'ID', width: '10%', fixed: 'left',templet:function(d){return d.LAY_INDEX;}}
                    , { field: 'title', title: '标题', width: '20%' }
                    , { field: 'cate', title: '栏目', width: '20%' }
                    , { field: 'create_time', title: '申请时间', width: '20%', }
                    , {
                        field: 'handle', title: '操作',
                        templet: function (d) {
                            var handle = '<button type="button" class="layui-btn layui-btn-xs" onclick="x_admin_show(\'查看文章\',\'/admin/check/lookArticle?id=' + d.id + '\',800,440);">查看</button><button type="button" class="layui-btn layui-btn-normal layui-btn-xs" onclick="x_admin_show(\'审核\',\'/admin/check/edit?id=' + d.id +'&type=2' + '\',400,240);">审核</button>' ;
                            return handle;
                        }
                    }
                ]
            ]
        });
       }else if(type == 3){
        tableIns = table.render({
            elem: '#demo'
            , toolbar: '#toolbarDemo'
            , defaultToolbar: []
            , url: '/admin/check/cases' //数据接口
            , page: true //开启分页
            , limit: 20
            , id: 'test'
            , cols: [
                [ //表头
                    { type: 'checkbox', fixed: 'left' }
                    , { field: 'id', title: 'ID', width: '10%', fixed: 'left',templet:function(d){return d.LAY_INDEX;}}
                    , { field: 'case_title', title: '案例标题', width: '20%' }
                    , { field: 'uname', title: '所属会员', width: '20%' }
                    , { field: 'create_time', title: '创建时间', width: '20%', }
                    , {
                        field: 'handle', title: '操作',
                        templet: function (d) {
                            var handle = '<button type="button" class="layui-btn layui-btn-xs" onclick="x_admin_show(\'查看案例\',\'/admin/check/lookCases?id=' + d.id + '\',800,440);">查看</button><button type="button" class="layui-btn layui-btn-normal layui-btn-xs" onclick="x_admin_show(\'审核\',\'/admin/check/edit?id=' + d.id +'&type=3' + '\',400,240);">审核</button>' ;
                            return handle;
                        }
                    }
                ]
            ]
        });
       }else if(type == 4){
        tableIns = table.render({
            elem: '#demo'
            , toolbar: '#toolbarDemo'
            , defaultToolbar: []
            , url: '/admin/check/join' //数据接口
            , page: true //开启分页
            , limit: 20
            , id: 'test'
            , cols: [
                [ //表头
                    { type: 'checkbox', fixed: 'left' }
                    , { field: 'id', title: 'ID', width: '10%', fixed: 'left',templet:function(d){return d.LAY_INDEX;}}
                    , { field: 'name', title: '申请人', width: '15%' }
                    , { field: 'company', title: '公司名称', width: '15%' }
                    , { field: 'mobile', title: '联系电话', width: '15%' }
                    , { field: 'area', title: '所在地区', width: '15%' }
                    , { field: 'create_time', title: '申请时间', width: '15%', }
                    , {
                        field: 'handle', title: '操作',
                        templet: function (d) {
                            var handle = '';
                            if(d.checked == 0){
                                handle = '<button type="button" class="layui-btn layui-btn-normal layui-btn-xs" onclick="x_admin_show(\'审核\',\'/admin/check/edit?id=' + d.id +'&type=4' + '\',400,240);">审核</button>' ;
                            }
                            return handle;
                        }
                    }
                ]
            ]
        });
       }else if(type == 5){
        tableIns = table.render({
            elem: '#demo'
            , toolbar: '#toolbarDemo'
            , defaultToolbar: []
            , url: '/admin/check/company' //数据接口
            , page: true //开启分页
            , limit: 20
            , id: 'test'
            , cols: [
                [ //表头
                    { type: 'checkbox', fixed: 'left',width:'5%' }
                    , { field: 'id', title: 'ID', width: '10%', fixed: 'left',templet:function(d){return d.LAY_INDEX;}}
                    , { field: 'name', title: '公司名称', width: '20%' }
                    , { field: 'region_name', title: '所属地区', width: '20%' }
                    , { field: 'phone', title: '联系电话', width: '20%' }
                    , { field: 'create_time', title: '创建时间', width: '15%', }
                    , {
                        field: 'handle', title: '操作',width:'10%',
                        templet: function (d) {
                            var handle = '<button type="button" class="layui-btn layui-btn-normal layui-btn-xs" onclick="x_admin_show(\'审核\',\'/admin/check/edit?id=' + d.id +'&type=5' + '\',400,240);">审核</button>' ;
                            return handle;
                        }
                    }
                ]
            ]
        });
       }else if(type == 6){
        tableIns = table.render({
            elem: '#demo'
            , toolbar: '#toolbarDemo'
            , defaultToolbar: []
            , url: '/admin/check/designer' //数据接口
            , page: true //开启分页
            , limit: 20
            , id: 'test'
            , cols: [
                [ //表头
                    { type: 'checkbox', fixed: 'left',width:'5%' }
                    , { field: 'id', title: 'ID', width: '10%', fixed: 'left',templet:function(d){return d.LAY_INDEX;}}
                    , { field: 'name', title: '设计师', width: '20%' }
                    , { field: 'region_name', title: '所属地区', width: '20%' }
                    , { field: 'mobile', title: '联系电话', width: '20%' }
                    , { field: 'create_time', title: '创建时间', width: '15%', }
                    , {
                        field: 'handle', title: '操作',width:'10%',
                        templet: function (d) {
                            var handle = '<button type="button" class="layui-btn layui-btn-xs" onclick="x_admin_show(\'查看个人信息\',\'/admin/check/lookUser?id=' + d.id + '&type=6' + '\',800,440);">查看</button><button type="button" class="layui-btn layui-btn-normal layui-btn-xs" onclick="x_admin_show(\'审核\',\'/admin/check/edit?id=' + d.id +'&type=6' + '\',400,240);">审核</button>' ;
                            return handle;
                        }
                    }
                ]
            ]
        });
       }else if(type == 7){
        tableIns = table.render({
            elem: '#demo'
            , toolbar: '#toolbarDemo'
            , defaultToolbar: []
            , url: '/admin/check/gongzhang' //数据接口
            , page: true //开启分页
            , limit: 20
            , id: 'test'
            , cols: [
                [ //表头
                    { type: 'checkbox', fixed: 'left',width:'5%' }
                    , { field: 'id', title: 'ID', width: '10%', fixed: 'left',templet:function(d){return d.LAY_INDEX;}}
                    , { field: 'name', title: '工长姓名', width: '20%' }
                    , { field: 'region_name', title: '所属地区', width: '20%' }
                    , { field: 'mobile', title: '联系电话', width: '20%' }
                    , { field: 'create_time', title: '创建时间', width: '15%', }
                    , {
                        field: 'handle', title: '操作',width:'10%',
                        templet: function (d) {
                            var handle = '<button type="button" class="layui-btn layui-btn-xs" onclick="x_admin_show(\'查看个人信息\',\'/admin/check/lookUser?id=' + d.id + '&type=7' + '\',800,440);">查看</button><button type="button" class="layui-btn layui-btn-normal layui-btn-xs" onclick="x_admin_show(\'审核\',\'/admin/check/edit?id=' + d.id +'&type=7' + '\',400,240);">审核</button>' ;
                            return handle;
                        }
                    }
                ]
            ]
        });
       }else if(type == 8){
        tableIns = table.render({
            elem: '#demo'
            , toolbar: '#toolbarDemo'
            , defaultToolbar: []
            , url: '/admin/check/mechanic' //数据接口
            , page: true //开启分页
            , limit: 20
            , id: 'test'
            , cols: [
                [ //表头
                    { type: 'checkbox', fixed: 'left',width:'5%' }
                    , { field: 'id', title: 'ID', width: '10%', fixed: 'left',templet:function(d){return d.LAY_INDEX;}}
                    , { field: 'name', title: '技工姓名', width: '20%' }
                    , { field: 'region_name', title: '所属地区', width: '20%' }
                    , { field: 'mobile', title: '联系电话', width: '20%' }
                    , { field: 'create_time', title: '创建时间', width: '15%', }
                    , {
                        field: 'handle', title: '操作',width:'10%',
                        templet: function (d) {
                            var handle = '<button type="button" class="layui-btn layui-btn-xs" onclick="x_admin_show(\'查看个人信息\',\'/admin/check/lookUser?id=' + d.id + '&type=8' + '\',800,440);">查看</button><button type="button" class="layui-btn layui-btn-normal layui-btn-xs" onclick="x_admin_show(\'审核\',\'/admin/check/edit?id=' + d.id +'&type=8' + '\',400,240);">审核</button>' ;
                            return handle;
                        }
                    }
                ]
            ]
        });
       }
        
    });
    function show_img(e){
        layer.open({
            type: 1,
            skin: 'layui-layer-rim', //加上边框
            area: ['80%', '80%'], //宽高
            shadeClose: true, //开启遮罩关闭
            end: function (index, layero) {
                return false;
            },
            content: '<div><img src="' + $(e).attr('src') + '" /></div>'
        });
    }   
</script>

</html>