{include file="public/head"}
<style>
    .upload-img{
        width: 80px;
        cursor: pointer;
    }
    .title{
        background: #eee;
        width: 100px;
        text-align: right !important;
    }
    .cont,.option-title{
        text-align: left !important;
    }
    .layui-input-block{
        margin-left:0 !important;
    }
    .layui-layer-content{
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>
<body>
    <div class="x-body">
        <div class="layui-form">
            <table class="layui-table">
                <tbody>
                    <tr>
                        <td class="title">用户账号：</td>
                        <td class="cont">{$data['uname']}</td>
                        <td class="title">真实姓名：</td>
                        <td class="cont">{$data['name']}</td>
                    </tr>
                    <tr>
                        <td class="title">所属地区：</td>
                        <td class="cont">{$data['area']}</td>
                        <td class="title">联系电话：</td>
                        <td class="cont">{$data['mobile']}</td>
                    </tr>
                    <tr>
                        <td class="title">城市锁定：</td>
                        <td class="cont">
                            <input type="checkbox" name="city_lock" lay-filter="cc" lay-skin="switch" lay-text="是|否" value="1" {if condition="$data['city_lock'] == 1"}checked{/if} />
                        </td>
                        <td class="title">类型锁定：</td>
                        <td class="cont">
                            <input type="checkbox" name="type_lock" lay-filter="cc" lay-skin="switch" lay-text="是|否" value="1" {if condition="$data['type_lock'] == 1"}checked{/if} />
                        </td>
                    </tr>
                    <tr>
                        <td class="title">头像锁定：</td>
                        <td class="cont">
                            <input type="checkbox" name="avatar_lock" lay-filter="cc" lay-skin="switch" lay-text="是|否" value="1" {if condition="$data['avatar_lock'] == 1"}checked{/if} />
                        </td>
                        <td class="title">创建时间：</td>
                        <td class="cont">{$data['create_time']}</td></td>
                    </tr>
                </tbody>
            </table>
            <table class="layui-table">
                <tbody>
                    <tr>
                        <td class="title">用户头像：</td>
                        <td class="cont" colspan="3">
                            <img class="upload-img" src="{$data['thumb']}" onclick="show_img(this)" />
                        </td>
                    </tr>
                </tbody>
            </table>
            <input type="hidden" id="id" value="{$data['id']}" />
        </div>
    </div>
</body>
{include file="public/foot"}
<script>
    var tableIns;
    layui.use(['laydate', 'form', 'table'], function () {
        var table = layui.table, laydate = layui.laydate, form = layui.form;
        /**
         * 监听状态改变
        */
        form.on('switch(cc)', function (data) {
            var t = data.elem;
            var name = $(t).attr('name');
            var id = $('#id').val();
            $.post('/admin/check/updateStatus', { type: name,id:id }, function (j) {
                if (j.code == '200') {
                    layer.msg('设置成功');
                }
                if (j.code == '0') {
                    layer.msg('设置失败');
                }
            }, 'json');
        });
    });
    function show_img(e){
        layer.open({
            type: 1,
            skin: 'layui-layer-rim', //加上边框
            area: ['80%', '80%'], //宽高
            shadeClose: true, //开启遮罩关闭
            end: function (index, layero) {
                return false;
            },
            content: '<div><img src="' + $(e).attr('src') + '" /></div>'
        });
    }   
</script>
</html>