{include file='public/head'}

<body>
    <style type="text/css" media="screen">
        header {
            color: black;
        }
    </style>
    <div class="x-body">
        <div class="layui-form" id='searchForm'>
            <div class="layui-form-item">
                <label class="layui-form-label">关键词</label> 
                <div class="layui-input-block">
                    <input type="text" id="keywords" name="keywords" autocomplete="off"
                        placeholder="请输入关键词" class="layui-input" value="" />
                </div> 
            </div>
            
            <div class="layui-form-item">
                <label class="layui-form-label">账号类型</label>
                <div class="layui-input-block">
                    <select lay-filter="aihao" name="type" id='type'>
                        <option value="">请选择类型</option>
                        <option value="1">技工</option>
                        <option value="2">工长</option>
                        <option value="3">设计师</option>
                        <option value="4">装饰公司</option>
                        <option value="5">商家</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="searchSubmit">提交</button>
                    <button type="reset" id="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </div>
    </div>
</body>
{include file='public/foot'}
<script type="text/javascript">
    layui.use(['form', 'layer'], function () {
        var form = layui.form;
        var layer = layui.layer;
        form.on('submit(searchSubmit)', function (data) {
            var index = layer.msg('查询中，请稍后...', {
                icon: 16,
                time: false,
                shade: 0
            });
            setTimeout(function () {
                x_admin_close();
                parent.tableIns.reload({
                    where: { //设定异步数据接口的额外参数，任意设
                        keywords: data.field.keywords,
                        type: data.field.type
                    }
                    , page: {
                        curr: 1 //重新从第 1 页开始
                    }
                });
            }, 1000);
            return false;
        });

   
    });
    $("#reset").on("click",function(){ window.location.reload();});
</script>

</html>