{include file="public/head"}

<body>
    <div class="x-body">
        <table id="demo" lay-filter="test"></table>
        <script type="text/html" id="toolbarDemo">
            <div class="layui-btn-container"> 
                <!-- <button class="layui-btn layui-btn-sm" lay-event="getCheckData">获取选中行数据</button>
                <button class="layui-btn layui-btn-sm" lay-event="getCheckLength">获取选中数目</button>
                <button class="layui-btn layui-btn-sm" lay-event="isAll">验证是否全选</button> -->
                <button class="layui-btn layui-btn-sm" onclick="javascript:location.reload()">
                    <i class="layui-icon layui-icon-refresh"></i>刷新
                </button>
                <button class="layui-btn layui-btn-sm" onclick="x_admin_show('搜索预约','/admin/appointment/search?type='+type,800,480)">
                    <i class="layui-icon layui-icon-search"></i>搜索
                </button>
            </div>
        </script>
    </div>
</body>
{include file="public/foot"}
<script>
    var tableIns;
    var type = {$type};
    if(type == 1){
        name = '技工'
    }else if(type == 2){
        name = '工长'
    }else if(type == 3){
        name = '设计师'
    }else if(type == 4){
        name = '装饰公司'
    }
    layui.use(['laydate', 'form', 'table'], function () {
        var table = layui.table, laydate = layui.laydate, form = layui.form;
        /**
         * 请求数据
        */
        tableIns = table.render({
            elem: '#demo'
            , toolbar: '#toolbarDemo'
            , defaultToolbar: []
            , url: '/admin/appointment/indexList?type='+type //数据接口
            , page: true //开启分页
            , limit: 20
            , id: 'test'
            , cols: [
                [ //表头
                    { type: 'checkbox', fixed: 'left' }
                    , { field: 'id', title: 'ID', width: '5%', fixed: 'left' }
                    , { field: 'name', title: '预约人', width: '8%' }
                    , { field: 'appointmented_name', title: '预约技工', width: '8%' }
                    , { field: 'appoint_time', title: '预约时间', width: '12%', }
                    , { field: 'mobile', title: '预约电话', width: '12%', }
                    , { field: 'content', title: '预约留言', width: '20%', }
                    , { field: 'status_name', title: '预约状态', width: '8%', }
                    , { field: 'note', title: '备注', width: '15%', }
                    , {
                        field: 'handle', title: '操作',
                        templet: function (d) {
                            var handle = '';
                            if(d.status == 0){
                                var handle = '<button type="button" class="layui-btn layui-btn-normal layui-btn-xs" onclick="x_admin_show(\'处理预约\',\'/admin/appointment/detail?id=' + d.id + '\',800,480);">处理预约</button>' ;
                            }
                            return handle;
                        }
                    }
                ]
            ]
        });
    });
</script>

</html>