{include file="public/head"}

<body>
    <div class="x-body">
        <button class="layui-btn layui-btn-sm " onclick="x_admin_show('添加分组','add.html',500,300)"></i>添加分组</button>
        <button onclick="javascript:location.reload()" class="layui-btn layui-btn-sm">刷新</button>
        <span class="x-right" style="line-height:40px">共有数据:<i class="i_count">{$count}</i>条</span>

        <table class="layui-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>分组名称</th>
                    <th>排序</th>
                    <th>操作</th>
            </thead>
            <tbody>
                {volist name='data' id='vo'}
                <tr>
                    <td>{$vo.id}</td>
                    <td class="text-left">&nbsp;{$vo.level-1|str_repeat='&nbsp;丨---',###}{$vo.type_title}</td>
                    </td>
                    <td>{$vo.type_sort}</td>
                    <td>
                        <button type="button" onclick="x_admin_show('编辑分组','edit.html?id={$vo.id}',500,300)"
                            class="layui-btn layui-btn-xs">编辑
                        </button>
                        <button type="button" onClick="deleteAuthRule({$vo.id})"
                            class="layui-btn layui-btn-xs layui-btn-danger">删除</button>
                    </td>
                </tr>
                {/volist}
            </tbody>
        </table>
        <div class="page">
            <div>

            </div>
        </div>
    </div>
</body>
{include file="public/foot"}
<script>
    function deleteAuthRule(id) {
        layer.confirm('确定要删除吗?', {
            btn: ['确定', '取消'] //按钮
        }, function () {
            $.ajax({
                url: 'delete',
                type: 'post',
                dataType: 'json',
                data: { id: id },
            })
                .done(function (data) {
                    console.log(data);
                    if (data.code == 200) {
                        layer.msg(data.msg, { icon: 1, time: 500 },function () {
                            window.location.reload();
                        });
                    } else {
                        layer.msg(data.msg, { icon: 5, time: 500 })
                    }
                })
        });
    }
</script>

</html>