{include file='public/head'}

<body>
    <style type="text/css" media="screen">
        header {
            color: black;
        }
        .fu22,.fu23,.fu24{
            display: none;
        }
    </style>
    <div class="x-body">
        <form class="layui-form" lay-filter="form">
            <div class="layui-form-item">
                <label class="layui-form-label">所属用户</label>
                <div class="layui-input-block">
                    <select name="uid" lay-search="">
                        <option value="">直接选择或搜索选择</option>
                        {volist name='member' id = 'vo'}
                        <option value="{$vo.id}">{$vo.uname}</option>
                        {/volist}
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">技工姓名</label>
                <div class="layui-input-block">
                    <input type="text" name="name" lay-verify="required" autocomplete="off" placeholder="请输入技工姓名"
                        class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">技工等级</label>
                <div class="layui-input-block">
                    <select name="level" lay-verify="required">
                        <option value="">请选择等级</option>
                        {volist name='rank' id = 'vo'}
                        <option value="{$vo.id}">{$vo.type_title}</option>
                        {/volist}
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">联系电话</label>
                <div class="layui-input-block">
                    <input type="number" name="mobile" lay-verify="required|phone|number" autocomplete="off"
                        placeholder="请输入联系电话" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">服务理念</label>
                <div class="layui-input-block">
                    <input type="text" name="slogan" autocomplete="off" placeholder="请输入服务理念" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">技工经验</label>
                <div class="layui-input-block">
                    {foreach $ages_attr as $key=>$vo}
                    <input type="radio" name="ages"lay-skin="primary" value="{$vo['id']}" title="{$vo['title']}" />
                    {/foreach}
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">技工工种</label>
                <div class="layui-input-block">
                    {foreach $position_attr as $key=>$vo}
                    <input type="checkbox" lay-filter="filter" name="position[{$vo['id']}]" lay-skin="primary" title="{$vo['title']}" value="{$vo['id']}" />
                    {/foreach}
                </div>
            </div>
            <div class="layui-form-item fu fu22">
                <label class="layui-form-label" id="title22"></label>
                <div class="layui-input-block" id="children22">
                </div>
            </div>
            <div class="layui-form-item fu fu23">
                <label class="layui-form-label" id="title23"></label>
                <div class="layui-input-block" id="children23">
                </div>
            </div>
            <div class="layui-form-item fu fu24">
                <label class="layui-form-label" id="title24"></label>
                <div class="layui-input-block" id="children24">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">技工介绍</label>
                <div class="layui-input-block">
                    <textarea class="layui-textarea" placeholder="请输入技工介绍" id="notice" name="content"
                        style="width: 100%;height: 400px;"></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="toSubmit">提交</button>
                    <button id="reset" type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>
</body>
{include file='public/foot'}
<script type="text/javascript" src="__static__/kindeditor/kindeditor-all.js"></script>
<script type="text/javascript" src="__static__/kindeditor/lang/zh-CN.js"></script>
<script type="text/javascript">
    var form = {};
    KindEditor.ready(function (K) {
        notice = K.create('#notice', {
            uploadJson: '/api/file/upload?type=article',
            afterBlur: function(){
                this.sync();
            }
        });
    });
    layui.use(['form', 'layer', 'upload'], function () {
        form = layui.form;
        var layer = layui.layer;
        var upload = layui.upload;
        /**
         * 监听工种选择
        */
        form.on('checkbox(filter)', function(data){
            var pid = data.value;
            var checked = data.elem.checked;
            if(pid == 22 || pid == 23 || pid == 24){
                getChildren(pid,checked,data.elem);
            }
        }); 
		/**
		 * 监听表单提交
		 */
        form.on('submit(toSubmit)', function (data) {
            var params = data.field;
            $.post('/admin/mechanic/mechanicAdd', params, function (data) {
                var res = data.data;
                if (data.code == 200) {
                    layer.msg('添加成功', {
                        icon: 1,
                        time: 1000
                    }, function () {
                        x_admin_close();
                        parent.location.reload();
                    });
                } else {
                    layer.msg(data.msg);
                }
            }, 'json');
            return false;
        });
    });
    /**
     * 获取下级工种
    */
    function getChildren(pid,checked,e){
        var params = {id:pid};
        if(checked){
            $.post('/admin/mechanic/getChildren', params, function (data) {
                var res = data.data;
                if (data.code == 200) {
                    var option = '';
                    res.forEach(function(item,index){
                        option += '<input type="checkbox" class="checkbox'+pid+'" name="position['+item.id+']" lay-skin="primary" title="'+item.title+'" value="'+item.id+'" />';
                    });
                    $('#children'+pid).html(option);
                    var title = $(e).attr('title');
                    $('#title'+pid).text(title+'子类');
                    $('.fu'+pid).show();
                    form.render();
                }
            }, 'json');
        }else{
            $('.checkbox'+pid).removeAttr('checked');
            $('.fu'+pid).hide();
            form.render();
        }
    }
</script>

</html>