{include file='public/head'}
<body>
	<style type="text/css" media="screen">
		header {
			color: black;
		}
	</style>
	<div class="x-body">
		<div class="layui-form">
			<div class="layui-form-item">
				<label class="layui-form-label">所属用户</label>
				<div class="layui-input-inline">
					<select name="uid" lay-verify="required" lay-search="">
						<option value="">直接选择或搜索选择</option>
						{volist name='member' id = 'vo'}
						<option value="{$vo.uid}" {if condition="$vo.uid == $data.uid"}selected{/if}>{$vo.uname}</option>
						{/volist}
					</select>
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">用户名</label>
				<div class="layui-input-block">
					<input type="text" id="nickName" name="nickName" value="{$data.nickName}" lay-verify="required|nickName" autocomplete="off"
						placeholder="请输入用户名" class="layui-input">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">电&nbsp;&nbsp;&nbsp;话</label>
				<div class="layui-input-block">
					<input type="text" id="phone" name="phone" value="{$data.phone}" lay-verify="required|phone" autocomplete="off"
						placeholder="请输入电话" class="layui-input">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">装饰公司</label>
				<div class="layui-input-inline">
					<select name="company" lay-verify="required" lay-search="">
						<option value="">直接选择或搜索选择</option>
						{volist name='type4' id = 'vo'}
						<option value="{$vo.id}" {if condition="$vo.id == $data.id"}selected{/if}>{$vo.nickName}</option>
						{/volist}
					</select>
				</div>
			</div>
			<div class="layui-form-item zc_hide">
				<label class="layui-form-label">毕业院校</label>
				<div class="layui-input-block">
					<input type="text" id="university" name="university" value="{$data.university}"  autocomplete="off"
						placeholder="请输入毕业院校" class="layui-input">
				</div>
			</div>
			<div class="layui-form-item" id="region"> 
				<label class="layui-form-label">地&nbsp;&nbsp;&nbsp;区</label>
				<div class="layui-input-inline">
					<select name="province" lay-filter="province" id="province" lay-verify="required">
						<option value="">请选择省</option>
						{volist name='province' id='vo'}
						<option value="{$vo.region_code}" {if condition="$vo.region_code == $data.province"}selected{/if}>{$vo.region_name}</option>
						{/volist}
					</select>
				</div>
				<div class="layui-input-inline">
					<select name="city" lay-filter="city" id="city" lay-verify="required">
                        <option value="">请选择市</option>
                        {volist name='city' id='vo'}
						<option value="{$vo.region_code}" {if condition="$vo.region_code == $data.city"}selected{/if}>{$vo.region_name}</option>
						{/volist}
					</select>
				</div>
				<div class="layui-input-inline">
					<select name="county" lay-filter="county" id="county" lay-verify="required">
                        <option value="">请选择区/县</option>
                        {volist name='county' id='vo'}
						<option value="{$vo.region_code}" {if condition="$vo.region_code == $data.county"}selected disabled{/if}>{$vo.region_name}</option>
						{/volist}
					</select>
				</div>
			</div>
			<input type="hidden" value="{$data.id}" name="id" />
			<div class="layui-form-item">
				<div class="layui-input-block">
					<button class="layui-btn" lay-submit lay-filter="toSubmit">提交</button>
					<button id="reset" type="reset" class="layui-btn layui-btn-primary">重置</button>
				</div>
			</div>
		</div>
	</div>
</body>
{include file='public/foot'}
<script type="text/javascript">
$(".zc_hide").hide();
layui.use(['form','layer'], function(){
  	var form = layui.form;
  	var layer = layui.layer;
	var type = {$type};
	if(type == 1){
		$(".zc_hide").show();
	}
  	form.verify({
		/* name: function (value) {
			if (value.length < 5) {
				return '用户名至少得5个字符啊';
			}
		} */
	});
	/*
	* 监听省份选择
	*/
	form.on('select(province)',function(data){
        $.post('/api/region/index', { 
            code: data.value,
            type:2 
        }, function(data){
            var res = data.data;
            if(data.code == 0){
                if(res.length > 0){
                    var option = '<option value="">请选择市</option>';
                    res.forEach(function(v,i){
                        option += '<option value="'+v.region_code+'">'+v.region_name+'</option>';
                    });
                    $('#city').html(option);
                    $('#county').html('<option value="">请选择区/县</option>');
                    form.render('select');
                }
            }else{
                layer.msg(data.msg);
            }
        },'json');
	});
	/*
	* 监听城市选择
	*/
	form.on('select(city)',function(data){
        $.post('/api/region/index', { 
            code: data.value,
            type:2 
        }, function(data){
            var res = data.data;
            if(data.code == 0){
                if(res.length > 0){
                    var option = '<option value="">请选择区/县</option>';
                    res.forEach(function(v,i){
                        option += '<option value="'+v.region_code+'">'+v.region_name+'</option>';
                    });
                    $('#county').html(option);
                    form.render('select');
                }
            }else{
                layer.msg(data.msg);
            }
        },'json');
    });
    /**
	 * 监听表单提交
	*/
	form.on('submit(toSubmit)',function(data){
		var params = {
				uid: data.field.uid,
				nickName: data.field.nickName,
				phone: data.field.phone,
				company: data.field.company,
				university: data.field.university,
				type: type,
				province: data.field.province,
				city: data.field.city,
				county: data.field.county,
				id: data.field.id
			};
		$.post('/admin/mechanic/edit', params, function(data){
            var res = data.data;
            if(data.code == 200){
                layer.msg('修改成功',{
					icon:1,
					time:1000
				},function(){
					x_admin_close();
					parent.location.reload();
				});
            }else{
                layer.msg(data.msg);
            }
		},'json');
		return false;
	});
});
</script>
</html>