{include file="public/head"}

<body>
    <div class="x-body">
        <table id="demo" lay-filter="test"></table>
        <script type="text/html" id="toolbarDemo">
            <div class="layui-btn-container">
                <button class="layui-btn  layui-btn-sm layui-btn-danger" lay-event="getCheckData" onclick="update('1')">
                    <i class="layui-icon layui-icon-delete"></i>批量删除
                </button>
                <button class="layui-btn  layui-btn-sm layui-btn-danger" lay-event="getCheckData" onclick="update('2')">
                    <i class="layui-icon layui-icon-add-circle-fine"></i>推荐至总站
                </button>
                <button class="layui-btn  layui-btn-sm layui-btn-danger" lay-event="getCheckData" onclick="update('3')">
                    <i class="layui-icon layui-icon-delete"></i>撤销至分站
                </button>
                <button class="layui-btn layui-btn-sm" onclick="x_admin_show('添加','../../add.html?type='+{$type},800,500)">
                    <i class="layui-icon layui-icon-add-circle-fine"></i>添加
                </button>
                <button class="layui-btn layui-btn-sm" onclick="javascript:location.reload()">
                    <i class="layui-icon layui-icon-refresh"></i>刷新
                </button>
                <button class="layui-btn layui-btn-sm" onclick="x_admin_show('搜索','../../search.html',800,480)">
                    <i class="layui-icon layui-icon-search"></i>搜索
                </button>
            </div>
        </script>
    </div>
</body>
{include file="public/foot"}
<script>
    var tableIns;
    var type = {$type};
    layui.use(['laydate', 'form', 'table'], function () {
        var table = layui.table, laydate = layui.laydate, form = layui.form;
        /**
         * 请求数据
        */
        if(type == 1){
            tableIns = table.render({
                elem: '#demo'
                , toolbar: '#toolbarDemo'
                , defaultToolbar: []
                , url: '/admin/Mechanic/index?type='+type //数据接口
                , page: true //开启分页
                , limit: 20
                , id: 'test'
                , cols: [
                    [ //表头
                        { type: 'checkbox', fixed: 'left' }
                        , { field: 'id', title: 'ID', width: '4%', fixed: 'left' }
                        , { field: 'name', title: '姓名', width: '6%' }
                        , { field: 'nickName', title: '用户名', width: '7%', }
                        , { field: 'subordinate', title: '下级', width: '6%' }
                        , { field: 'phone', title: '手机', width: '9%', }
                        , { field: 'city', title: '城市', width: '15%' }
                        , { field: 'create_time', title: '注册时间', width: '12%' }
                        , { field: 'company', title: '装修公司', width: '10%', }
                        , { field: 'case', title: '案例', width: '5%', }
                        , { field: 'is_zong', title: '总站', width: '5%', }
                        , {
                            field: 'handle', title: '操作',
                            templet: function (d) {
                                var handle = '<button type="button" class="layui-btn layui-btn-normal layui-btn-xs" onclick="x_admin_show(\'编辑\',\'/admin/mechanic/edit?id=' + d.id + '&type='+type+'\',800,480);">编辑</button>' +
                                    '<button type="button" class="layui-btn layui-btn-danger layui-btn-xs" onclick="delCommunity(' + d.id + ');">删除</button>';
                                return handle;
                            }
                        }
                    ]
                ]
            });
        }else if(type == 2){
            tableIns = table.render({
                elem: '#demo'
                , toolbar: '#toolbarDemo'
                , defaultToolbar: []
                , url: '/admin/Mechanic/indexList?type='+type //数据接口
                , page: true //开启分页
                , limit: 20
                , id: 'test'
                , cols: [
                    [ //表头
                        { type: 'checkbox', fixed: 'left' }
                        , { field: 'id', title: 'ID', width: '5%', fixed: 'left' }
                        , { field: 'name', title: '姓名', width: '8%' }
                        , { field: 'nickName', title: '用户名', width: '10%', }
                        , { field: 'subordinate', title: '下级', width: '6%' }
                        , { field: 'phone', title: '手机', width: '10%', }
                        , { field: 'city', title: '城市', width: '15%' }
                        , { field: 'create_time', title: '注册时间', width: '15%' }
                        , { field: 'is_zong', title: '总站', width: '5%', }
                        , {
                            field: 'handle', title: '操作',
                            templet: function (d) {
                                var handle = '<button type="button" class="layui-btn layui-btn-normal layui-btn-xs" onclick="x_admin_show(\'编辑设计师\',\'/admin/mechanic/edit?id=' + d.id + '&type='+type+'\',800,480);">编辑</button>' +
                                    '<button type="button" class="layui-btn layui-btn-danger layui-btn-xs" onclick="delCommunity(' + d.id + ');">删除</button>';
                                return handle;
                            }
                        }
                    ]
                ]
            });
        }else if(type == 3){
            tableIns = table.render({
                elem: '#demo'
                , toolbar: '#toolbarDemo'
                , defaultToolbar: []
                , url: '/admin/Mechanic/indexList?type='+type //数据接口
                , page: true //开启分页
                , limit: 20
                , id: 'test'
                , cols: [
                    [ //表头
                        { type: 'checkbox', fixed: 'left' }
                        , { field: 'id', title: 'ID', width: '4%', fixed: 'left' }
                        , { field: 'name', title: '姓名', width: '6%' }
                        , { field: 'nickName', title: '用户名', width: '7%', }
                        , { field: 'subordinate', title: '下级', width: '6%' }
                        , { field: 'phone', title: '手机', width: '9%', }
                        , { field: 'city', title: '城市', width: '12%' }
                        , { field: 'create_time', title: '注册时间', width: '12%' }
                        , { field: 'case', title: '案例', width: '8%', }
                        , { field: 'site', title: '工地', width: '8%', }
                        , { field: 'is_zong', title: '总站', width: '5%', }
                        , {
                            field: 'handle', title: '操作',
                            templet: function (d) {
                                var handle = '<button type="button" class="layui-btn layui-btn-normal layui-btn-xs" onclick="x_admin_show(\'编辑设计师\',\'/admin/mechanic/edit?id=' + d.id + '&type='+type+'\',800,480);">编辑</button>' +
                                    '<button type="button" class="layui-btn layui-btn-danger layui-btn-xs" onclick="delCommunity(' + d.id + ');">删除</button>';
                                return handle;
                            }
                        }
                    ]
                ]
            });
        }else if(type == 4 ){
            tableIns = table.render({
                elem: '#demo'
                , toolbar: '#toolbarDemo'
                , defaultToolbar: []
                , url: '/admin/Mechanic/indexList?type='+type //数据接口
                , page: true //开启分页
                , limit: 20
                , id: 'test'
                , cols: [
                    [ //表头
                        { type: 'checkbox', fixed: 'left' }
                        , { field: 'id', title: 'ID', width: '4%', fixed: 'left' }
                        , { field: 'name', title: '公司名', width: '6%' }
                        , { field: 'nickName', title: '所属会员', width: '7%', }
                        , { field: 'subordinate', title: '下级', width: '6%' }
                        , { field: 'phone', title: '手机', width: '9%', }
                        , { field: 'city', title: '城市', width: '12%' }
                        , { field: 'create_time', title: '注册时间', width: '12%' }
                        , { field: 'is_zong', title: '总站', width: '5%', }
                        , {
                            field: 'handle', title: '操作',
                            templet: function (d) {
                                var handle = '<button type="button" class="layui-btn layui-btn-normal layui-btn-xs" onclick="x_admin_show(\'编辑设计师\',\'/admin/mechanic/edit?id=' + d.id + '&type='+type+'\',800,480);">编辑</button>' +
                                    '<button type="button" class="layui-btn layui-btn-danger layui-btn-xs" onclick="delCommunity(' + d.id + ');">删除</button>';
                                return handle;
                            }
                        }
                    ]
                ]
            });
        }
       
    });
    function update(method) {
        var data = [];
        data = layui.table.checkStatus('test').data;  
        layer.confirm('确认要进行操作吗？', function (index) {
            var delList=[];
            data.forEach(function(n,i){
                delList.push(n.id);             
            });
            // console.log(delList);
            // return false;
            //捉到所有被选中的，发异步进行删除
            delList = JSON.stringify( delList )
            $.post('/admin/mechanic/update?method='+method, { delList: delList }, function (j) {
                    if(j.code == 200){
                        layer.msg('操作成功', { icon: 1, time: 1000 }, function () {
                        location.reload();
                    });
                    }else{
                        layer.msg('操作失败', { icon: 2, time: 1000 });
                    }
                },'json');
        });
    }
    function delCommunity(id) {
        layer.confirm('确认要删除吗？', function (index) {
            $.post('/admin/mechanic/delMechanic', { id: id }, function (j) {
                if(j.code == 200){
                    layer.msg('删除成功', { icon: 1, time: 1000 }, function () {
                        location.reload();
                    });
                }else{
                    layer.msg('删除失败', { icon: 2, time: 1000 });
                }
            },'json');
        });
    }
</script>

</html>