{include file='public/head'}

<body>
    <style media="screen" type="text/css">
        header {
            color: black;
        }
        .layui-upload-img{
			width: auto;
			height: 60px;
			margin-left: 20px;
		}
    </style>
    <div class="x-body">
        <div class="layui-form">
            <div class="layui-form-item">
                <label class="layui-form-label">商家名称</label>
                <div class="layui-input-block">
                    <input autocomplete="off" class="layui-input" lay-verify="required" name="name" value="{$shop['name']}" placeholder="请输入商家名称" type="text" />
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">所属分类</label>
                <div class="layui-input-block">
                    <select lay-filter="cate" name="shop_cate" lay-verify="required">
                        <option value="">请选择</option>
                        {volist name='cate' id='vo'}
                            <option value="{$vo.id}" {if condition="$vo.id == $shop['shop_cate']"}selected{/if}>{$vo.title}</option>
                         {/volist}
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">所属地区</label>
                <div class="layui-input-inline">
					<select name="province" lay-filter="province" id="province" lay-verify="required">
						<option value="">请选择省</option>
						{volist name='province' id='vo'}
						<option value="{$vo.region_code}" {if condition="$vo.region_code == $shop['province']"}selected{/if}>{$vo.region_name}</option>
						{/volist}
					</select>
				</div>
				<div class="layui-input-inline">
					<select name="city" lay-filter="city" id="city" lay-verify="required">
                        <option value="">请选择市</option>
                        {volist name='city' id='vo'}
						<option value="{$vo.region_code}" {if condition="$vo.region_code == $shop['city']"}selected{/if}>{$vo.region_name}</option>
						{/volist}
					</select>
				</div>
				<div class="layui-input-inline">
					<select name="county" lay-filter="county" id="county" lay-verify="required">
                        <option value="">请选择区/县</option>
                        {volist name='county' id='vo'}
						<option value="{$vo.region_code}" {if condition="$vo.region_code == $shop['county']"}selected{/if}>{$vo.region_name}</option>
						{/volist}
					</select>
				</div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">商家等级</label>
                <div class="layui-input-block">
                    <select name="level" lay-verify="required">
                        <option value="">请选择</option>
                        {volist name='level' id='vo'}
                            <option value="{$vo.id}" {if condition="$vo.id == $shop['level']"}selected{/if}>{$vo.type_title}</option>
                         {/volist}
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">商家地址</label>
                <div class="layui-input-block">
                    <input autocomplete="off" class="layui-input" lay-verify="required" name="address" value="{$shop['address']}" placeholder="请输入商家地址" type="text" value="" />
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">商家介绍</label>
                <div class="layui-input-block">
                    <textarea class="layui-textarea" placeholder="请输入商家介绍" id="notice" name="content"
                        style="width: 100%;height: 400px;">{$shop['content']}</textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">经度位置</label>
                <div class="layui-input-block">
                    <input autocomplete="off" class="layui-input" name="longitude" value="{$shop['longitude']}" placeholder="请输入商家经度位置(腾讯坐标)" type="text" value="" />
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">纬度位置</label>
                <div class="layui-input-block">
                    <input autocomplete="off" class="layui-input" name="latitude" value="{$shop['latitude']}" placeholder="请输入商家纬度位置(腾讯坐标)" type="text" value="" />
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">浏览数</label>
                <div class="layui-input-block">
                    <input autocomplete="off" class="layui-input" name="view_num" value="{$shop['view_num']}" placeholder="请输入浏览数" type="number" value="" />
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">收藏数</label>
                <div class="layui-input-block">
                    <input autocomplete="off" class="layui-input" name="collect_num" value="{$shop['collect_num']}" placeholder="请输入收藏数" type="number" value="" />
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">方形logo(200px*200px)</label>
                <div class="layui-input-block" style="display: flex;">
                    <button type="button" class="layui-btn layui-btn-sm upload-img1" data-id="1">
                        <i class="layui-icon">&#xe67c;</i>选择图片
                    </button>
                    <img class="layui-upload-img" id="thumb1" src="{$shop['square_logo']}">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">矩形logo(200px*100px)</label>
                <div class="layui-input-block" style="display: flex;">
                    <button type="button" class="layui-btn layui-btn-sm upload-img2" data-id="2">
                        <i class="layui-icon">&#xe67c;</i>选择图片
                    </button>
                    <img class="layui-upload-img" id="thumb2" src="{$shop['rectangle_logo']}">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">有效期(不选:永久有效)</label>
                <div class="layui-input-inline">
                    <input type="text" autocomplete="off" name="starttime" class="layui-input" id="test5" placeholder="请选择开始时间" value="{$shop.starttime}" />
                </div>
                <div class="layui-input-inline">
                    <input type="text" autocomplete="off" name="endtime" class="layui-input" id="test6" placeholder="请选择结束时间" value="{$shop.endtime}" />
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">热门指数</label>
                <div class="layui-input-block">
                    <input autocomplete="off" class="layui-input" name="hot" placeholder="请输入热门指数" type="number" value="{$shop['hot']}" />
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">口碑指数</label>
                <div class="layui-input-block">
                    <input autocomplete="off" class="layui-input" name="kou" placeholder="请输入口碑指数" type="number" value="{$shop['kou']}" />
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">排&nbsp;&nbsp;&nbsp;&nbsp;序</label>
                <div class="layui-input-block">
                    <input autocomplete="off" class="layui-input" name="sort" value="{$shop['sort']}"
                        placeholder="排序数值越大排列越靠前" type="text" value="0" />
                </div>
            </div>
            <input type="hidden" name="id" value="{$shop['id']}" />
            <input type="hidden" name="thumb1" value="{$shop['square_logo']}" />
            <input type="hidden" name="thumb2" value="{$shop['rectangle_logo']}" />
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-filter="toSubmit" lay-submit="" style="margin-left: 33%">提交</button>
                </div>
            </div>
        </div>
    </div>
</body>
{include file='public/foot'}
<script type="text/javascript" src="__static__/kindeditor/kindeditor-all.js"></script>
<script type="text/javascript" src="__static__/kindeditor/lang/zh-CN.js"></script>
<script type="text/javascript">
    KindEditor.ready(function (K) {
        notice = K.create('#notice', {
            uploadJson: '/api/file/upload?type=article',
            afterBlur: function(){
                this.sync();
            }
        });
    });
    layui.use(['form', 'layer', 'upload','laydate'], function () {
        var form = layui.form,layer = layui.layer,upload = layui.upload,laydate = layui.laydate;
        laydate.render({
            elem: '#test5'
            ,type: 'datetime'
            ,trigger: 'click'
        });
        laydate.render({
            elem: '#test6'
            ,type: 'datetime'
            ,trigger: 'click'
        });
        /**
        * 监听省份选择
        */
        form.on('select(province)',function(data){
            $.post('/api/region/index', { 
                code: data.value,
                type:2 
            }, function(data){
                var res = data.data;
                if(data.code == 0){
                    if(res.length > 0){
                        var option = '<option value="">请选择市</option>';
                        res.forEach(function(v,i){
                            option += '<option value="'+v.region_code+'">'+v.region_name+'</option>';
                        });
                        $('#city').html(option);
                        $('#county').html('<option value="">请选择区/县</option>');
                        form.render('select');
                    }
                }else{
                    layer.msg(data.msg);
                }
            },'json');
        });
        /**
        * 监听城市选择
        */
        form.on('select(city)',function(data){
            $.post('/api/region/index', { 
                code: data.value,
                type:2,
                is_open:2,
            }, function(data){
                var res = data.data;
                if(data.code == 0){
                    if(res.length > 0){
                        var option = '<option value="">请选择区/县</option>';
                        res.forEach(function(v,i){
                            option += '<option value="'+v.region_code+'">'+v.region_name+'</option>';
                        });
                        $('#county').html(option);
                        form.render('select');
                    }
                }else{
                    layer.msg(data.msg);
                }
            },'json');
        });
        form.on('submit(toSubmit)', function (data) {
            var params = data.field;
            if(data.field.hot == undefined){
                params.hot = 0;
            }else{
                params.hot = 1;
            }
			$.post('/admin/shop/shopEdit', params, function (data) {
				var res = data.data;
				if (data.code == 200) {
					layer.msg('修改成功', {
						icon: 1,
						time: 1000
					}, function () {
						x_admin_close();
						parent.location.reload();
					});
				} else {
					layer.msg('修改失败', {
						icon: 1,
						time: 1000
					}, function () {
						x_admin_close();
						parent.location.reload();
					});
				}
			}, 'json');
        });
        var uploadInst = upload.render({
            elem: '.upload-img1',
            url: '/api/file/upload?type=logo',
            accept: 'file', // 允许上传的文件类型
            field: 'imgFile',
            auto: false, // 自动上传
            choose: function (obj) {
                obj.preview(function (index, file, result) {
                    var flag = true;
                    var img = new Image();
                    img.src = result; 
                    img.onload = function () { //初始化夹在完成后获取上传图片宽高，判断限制上传图片的大小。
                        if(img.width == 200 && img.height == 200){
                            obj.upload(index, file); //满足条件调用上传方法
                        }else{
                            flag = false;
                            layer.msg("您上传的小图大小必须是200*200尺寸！");
                            return false;
                        }
                    }
                    return flag;
                });
            },
            before: function (obj) {
                var item = this.item;
                var id = $(item).data('id');
                obj.preview(function (index, file, result) {
                    $('#thumb'+id).attr('src', result); //图片链接 base64
                });
            },
            done: function (res) {
                layer.msg(res.msg);
                if (res.error == 0) {
                    var item = this.item;
                    var id = $(item).data('id');
                    $("input[name='thumb"+id+"']").val(res.url);
                    $('#thumb'+id).show();
                }
            },
            error: function (index, upload) {
                // 上传失败
            }
        });
        var uploadInst = upload.render({
            elem: '.upload-img2',
            url: '/api/file/upload?type=logo',
            accept: 'file', // 允许上传的文件类型
            field: 'imgFile',
            auto: false, // 自动上传
            choose: function (obj) {
                obj.preview(function (index, file, result) {
                    var flag = true;
                    var img = new Image();
                    img.src = result; 
                    img.onload = function () { //初始化夹在完成后获取上传图片宽高，判断限制上传图片的大小。
                        if(img.width == 200 && img.height == 100){
                            obj.upload(index, file); //满足条件调用上传方法
                        }else{
                            flag = false;
                            layer.msg("您上传的小图大小必须是200*100尺寸！");
                            return false;
                        }
                    }
                    return flag;
                });
            },
            before: function (obj) {
                var item = this.item;
                var id = $(item).data('id');
                obj.preview(function (index, file, result) {
                    $('#thumb'+id).attr('src', result); //图片链接 base64
                });
            },
            done: function (res) {
                layer.msg(res.msg);
                if (res.error == 0) {
                    var item = this.item;
                    var id = $(item).data('id');
                    $("input[name='thumb"+id+"']").val(res.url);
                    $('#thumb'+id).show();
                }
            },
            error: function (index, upload) {
                // 上传失败
            }
        });
    });
</script>

</html>