{include file='public/head'}

<body>
    <style type="text/css" media="screen">
        header {
            color: black;
        }
    </style>
    <div class="x-body">
        <form class="layui-form" id='searchForm'>
            <div class="layui-form-item">
                <label class="layui-form-label">关键词</label>
                <div class="layui-input-block">
                    <input type="text" id="keywords" name="keywords" autocomplete="off"
                        placeholder="请输入关键词" class="layui-input" value="" />
                </div>
            </div>
            {if $user['county'] == ''}
			<div class="layui-form-item" id="region">
				<label class="layui-form-label">地&nbsp;&nbsp;&nbsp;区</label>
				<div class="layui-input-inline">
					<select name="province" lay-filter="province" id="province" >
						<option value="">请选择省</option> 
						{volist name='regin' id='vo'}
						<option value="{$vo.region_code}">{$vo.region_name}</option>
						{/volist}
					</select>
				</div>
				<div class="layui-input-inline">
					<select name="city" lay-filter="city" id="city" >
						<option value="">请选择市</option>
					</select>
				</div>
				<div class="layui-input-inline">
					<select name="county" lay-filter="county" id="county" >
						<option value="">请选择区/县</option>
					</select>
				</div>
            </div>
            {else}
				<input type="hidden" name="province" value="{$user['province']}" />
				<input type="hidden" name="city" value="{$user['city']}" />
				<input type="hidden" name="county" value="{$user['county']}" />
			{/if}
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="searchSubmit">提交</button>
                    <button type="reset" id="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>
</body>
{include file='public/foot'}
<script type="text/javascript">
    layui.use(['form', 'layer'], function () {
        var form = layui.form;
        var layer = layui.layer;
        form.on('submit(searchSubmit)', function (data) {
            var index = layer.msg('查询中，请稍后...', {
                icon: 16,
                time: false,
                shade: 0
            });
            setTimeout(function () {
                x_admin_close();
                parent.tableIns.reload({
                    where: { //设定异步数据接口的额外参数，任意设
                        keywords: data.field.keywords,
                        province: data.field.province,
                        city: data.field.city,
                        county: data.field.county
                    }
                    , page: {
                        curr: 1 //重新从第 1 页开始
                    }
                });
            }, 1000);
            return false;
        });

        /*
        * 监听省份选择
        */
        form.on('select(province)',function(data){
            $.post('/api/region/index', { 
                code: data.value,
                type:2 
            }, function(data){
                var res = data.data;
                if(data.code == 0){
                    if(res.length > 0){
                        var option = '<option value="">请选择市</option>';
                        res.forEach(function(v,i){
                            option += '<option value="'+v.region_code+'">'+v.region_name+'</option>';
                        });
                        $('#city').html(option);
                        $('#county').html('<option value="">请选择区/县</option>');
                        form.render('select');
                    }
                }else{
                    layer.msg(data.msg);
                }
            },'json');
        });
        /*
        * 监听城市选择
        */
        form.on('select(city)',function(data){
            $.post('/api/region/index', { 
                code: data.value,
                type:2 
            }, function(data){
                var res = data.data;
                if(data.code == 0){
                    if(res.length > 0){
                        var option = '<option value="">请选择区/县</option>';
                        res.forEach(function(v,i){
                            option += '<option value="'+v.region_code+'">'+v.region_name+'</option>';
                        });
                        $('#county').html(option);
                        form.render('select');
                    }
                }else{
                    layer.msg(data.msg);
                }
            },'json');
        });
    });
</script>

</html>