{include file='public/head'}

<body>
    <style type="text/css" media="screen">
        header {
            color: black;
        }
    </style>
    <div class="x-body">
        <form class="layui-form" id='searchForm'>
            <div class="layui-form-item">
                <label class="layui-form-label">人员姓名</label>
                <div class="layui-input-block">
                    <input type="text" name="uname" autocomplete="off"
                        placeholder="请输入人员姓名" class="layui-input" value="" />
                </div>
            </div>
			<div class="layui-form-item">
				<label class="layui-form-label">团队岗位</label>
				<div class="layui-input-block">
					<select name="type">
						<option value="">请选择岗位类别</option> 
                        <option value="1">技工</option>
                        <option value="2">工长</option>
                        <option value="3">设计师</option>
					</select>
				</div>
            </div>
            <input type="hidden" name="company_id" value="{$company_id}" />
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="searchSubmit">提交</button>
                    <button type="reset" id="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>
</body>
{include file='public/foot'}
<script type="text/javascript">
    layui.use(['form', 'layer'], function () {
        var form = layui.form;
        var layer = layui.layer;
        form.on('submit(searchSubmit)', function (data) {
            var index = layer.msg('查询中，请稍后...', {
                icon: 16,
                time: false,
                shade: 0
            });
            setTimeout(function () {
                x_admin_close();
                parent.tableIns.reload({
                    where: { //设定异步数据接口的额外参数，任意设
                        type: data.field.type,
                        uname:data.field.uname,
                        company_id: data.field.company_id
                    }
                    , page: {
                        curr: 1 //重新从第 1 页开始
                    }
                });
            }, 1000);
            return false;
        });
    });
</script>

</html>